@model MyLeoRetailer.Models.BarcodeViewModel

<script src="~/Scripts/printThis.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnPrintDiv').click(function () {
            $('#Div_Print').printThis();
        });
    });
</script>

<form role="form" id="frmBarcodePrintData">
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Print Barcode</h2>
        </div>
    </div>

    <div style="width:100%; overflow:auto;" id="Div_Print">
        <table style="border:1px solid black;font-size:10px">
            <tr>
                @{  int i = 0;
                  int n = Model.PrintBarcodeData.Count();
                  int j = 1;
                  foreach (var dt in Model.PrintBarcodeData)
                  {
                    <td class='all-four-rounded-corners' style="padding:4px 6px; border-radius: 10px; border: 3px solid #000000; width: 300px;">
                        <div>
                            <span style="margin-bottom: 1px; width:60px;"> @dt.Brand_Name </span>
                        </div>

                        <div style="transform: rotate(90deg); float: right;">
                            <span>@dt.Color_Name</span>
                        </div>

                        <div>
                            <span style="margin-bottom: 1px;"> Size </span>
                            <span style="margin-bottom: 1px;"><b>@dt.Size_Name</b></span>
                        </div>

                        <div>
                            <span style="margin-bottom: 1px;">MRP</span>
                            <span style="margin-bottom: 1px;"><b>@dt.MRP_Price</b></span>
                        </div>

                        <div>
                            <span style="margin: 0 6px 1px 0; width: 50px; float: right;"><b>@dt.WSR_Code</b></span>
                        </div>

                        <div>
                            <img src="@dt.Barcode_Image_Url" class="img-rounded" style="width: 70%;">
                            @*<img src="@Model.Barcode.Barcodes[i].Barcode_Image_Url" class="img-rounded" style="width: 100%;">*@
                        </div>

                    </td>
                      if (j % 4 == 0)
                      {
                    <tr> </tr>
                      }
                      i++; j++;
                  }
                }
                <tr />
            </table>
            <br>
        </div>

    <div class="row" style="padding-top: 25px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px; text-align:center;">
            <div class="btn-group">
                <button type="button" class="btn btn-success active" value="Print" id="btnPrintDiv">Print</button>
                <button type="button" class="btn btn-danger pull-right" onclick="location.href='@Url.Action("Barcode", "Barcode")'"><i class="fa fa-angle-double-left"></i>BACK</button>
            </div>
        </div>

</form>
