@model MyLeoRetailer.Models.PurchaseInvoiceViewModel

<script src="~/Scripts/Modules/PurchaseInvoice/purchaseinvoice_validation.js"></script>
<script src="~/Scripts/Modules/PurchaseInvoice/purchaseinvoice_events.js"></script>
<script src="~/Scripts/Modules/PurchaseInvoice/purchaseinvoice_methods.js"></script>
<script src="~/Scripts/Modules/common_methods.js"></script>

<style>
    .input-group-addon {
        background-color: #33414e !important;
        color: #fff !important;
    }
</style>



<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li class="active">Purchase Invoice</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Purchase Invoice</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <form id="frmPurchaseInvoice">

            <div class="box box-default">

                <div class="box-body">


                    <div class="row">

                        <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 350px;">

                            <div class="block">

                                <input type="hidden" class="form-control input-sm" name="PurchaseInvoice.Purchase_Invoice_Id" id="hdf_PurchaseInvoiceId" value="@Model.PurchaseInvoice.Purchase_Invoice_Id">

                                <input type="hidden" class="form-control input-sm" name="PurchaseInvoice.hdn_Tax_Percentage" id="hdf_hdn_Tax_Percentage" value="@Model.PurchaseInvoice.hdn_Tax_Percentage">
                                
                                <h4 style="margin-top: 0px;">Primary information.</h4>

                                @*<div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Purchase Invoice No.</span>
                                    <input type="text" class="form-control input-sm" name="PurchaseInvoice.Purchase_Invoice_No" id="txtPurchase_Order_No" value="@Model.PurchaseInvoice.Purchase_Invoice_No" placeholder="Enter purchase invoice no." />
                                </div>*@

                                <div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Purchase Invoice Date.</span>
                                    @if (Model.PurchaseInvoice.Purchase_Invoice_Date != DateTime.MinValue)
                                    {
                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="PurchaseInvoice.Purchase_Invoice_Date" id="txtPurchase_Invoice_Date" value="@Model.PurchaseInvoice.Purchase_Invoice_Date.ToShortDateString()" />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="PurchaseInvoice.Purchase_Invoice_Date" id="txtPurchase_Invoice_Date" value="@DateTime.Now.ToShortDateString()" />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    }
                                </div>

                                @*<div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Purchase Order Date.</span>
                                    <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                        <input type="text" class="form-control datepicker" name="PurchaseInvoice.Purchase_Invoice_Date" id="txtPurchase_Invoice_Date" value="@((Model.PurchaseInvoice.Purchase_Invoice_Date == DateTime.MinValue ? DateTime.Now.ToString("MM-dd-yyyy") : Model.PurchaseInvoice.Purchase_Invoice_Date.ToString("MM-dd-yyyy")))" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>*@

                                <div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Challan No.</span>
                                    <input type="text" class="form-control input-sm" name="PurchaseInvoice.Challan_No" id="txtPurchase_Order_No" value="@Model.PurchaseInvoice.Challan_No" placeholder="Enter challan no." maxlength="20" />
                                </div>


                                <div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Challan Date.</span>
                                    @if (Model.PurchaseInvoice.Challan_Date != DateTime.MinValue)
                                    {
                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="PurchaseInvoice.Challan_Date" id="txtChallan_Date" value="@Model.PurchaseInvoice.Challan_Date.ToShortDateString()" />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="PurchaseInvoice.Challan_Date" id="txtChallan_Date" value="@DateTime.Now.ToShortDateString()" />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    }
                                </div>

                                @*<div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Challan Date.</span>
                                    <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                        <input type="text" class="form-control datepicker" name="PurchaseInvoice.Challan_Date" id="txtChallan_Date" value="@((Model.PurchaseInvoice.Challan_Date == DateTime.MinValue ? DateTime.Now.ToString("MM-dd-yyyy") : Model.PurchaseInvoice.Challan_Date.ToString("MM-dd-yyyy")))" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>*@
                            </div>

                        </div>

                        <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 350px;">

                            <div class="block">
                                <h4 style="margin-top: 0px;">Vendor Details.</h4>

                                <input type="hidden" class="form-control input-sm" id="hdf_Vendor_Id">

                                <div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Vendor Name.</span>
                                    <select class="form-control select" id="drpVendor_Id" name="PurchaseInvoice.Vendor_Id" onchange="Get_Vendor_Details_By_Id(this.value)">
                                        <option value="0">Select Vendor</option>
                                        @foreach (var item in Model.PurchaseInvoice.Vendors)
                                        {
                                            if (Model.PurchaseInvoice.Vendor_Id == item.Vendor_Id)
                                            {
                                                <option value="@item.Vendor_Id" selected="selected">@item.Vendor_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Vendor_Id">@item.Vendor_Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                                           
                                <div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Vendor Address.</span>
                                    <input type="text" class="form-control input-sm" name="PurchaseInvoice.Vendor_Address" id="txtVendor_Address" readonly />
                                </div>

                                <div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Vat No.</span>
                                    <input type="text" class="form-control input-sm" name="PurchaseInvoice.Vendor_Vat_No" id="txtVendor_VAT_No" readonly />
                                </div>

                            </div>

                        </div>

                        <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 350px;">

                            <div class="block">
                                <h4 style="margin-top: 0px;">Against Form details.</h4>

                                <div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Against Form.</span>
                                    <input type="text" class="form-control input-sm" name="PurchaseInvoice.Against_Form" id="txtAgainst_Form" value="@(Model.PurchaseInvoice.Against_Form == 0 ? "" : Model.PurchaseInvoice.Against_Form.ToString())" placeholder="Enter against form." maxlength="20" />
                                </div>

                                <div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Against Form No.</span>
                                    <input type="text" class="form-control input-sm" name="PurchaseInvoice.Against_Form_No" id="txtAgainst_Form_No" value="@Model.PurchaseInvoice.Against_Form_No" placeholder="Enter against form no." maxlength="20"/>
                                </div>

                                <div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Against Form Date.</span>
                                    @if (Model.PurchaseInvoice.Against_Form_Date != DateTime.MinValue)
                                    {
                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="PurchaseInvoice.Against_Form_Date" id="txtAgainst_Form_Date" value="@Model.PurchaseInvoice.Against_Form_Date.ToShortDateString()" />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="PurchaseInvoice.Against_Form_Date" id="txtAgainst_Form_Date" value="@DateTime.Now.ToShortDateString()" />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    }
                                </div>

                                @*<div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Against Form Date.</span>
                                    <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                        <input type="text" class="form-control datepicker" name="PurchaseInvoice.Against_Form_Date" id="txtAgainst_Form_Date" value="@((Model.PurchaseInvoice.Against_Form_Date == DateTime.MinValue ? DateTime.Now.ToString("MM-dd-yyyy") : Model.PurchaseInvoice.Against_Form_Date.ToString("MM-dd-yyyy")))" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>*@

                            </div>

                        </div>

                        <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 350px;">

                            <div class="block">
                                <h4 style="margin-top: 0px;">Packing details.</h4>

                                <div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Purchase Packing No.</span>
                                    <input type="text" class="form-control input-sm" name="PurchaseInvoice.Purchase_Packing_No" id="txtPurchase_Packing_No" value="@Model.PurchaseInvoice.Purchase_Packing_No" placeholder="Enter purchase packing no." maxlength="20" />
                                </div>

                                <div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Purchase Packing Date.</span>
                                    @if (Model.PurchaseInvoice.Purchase_Packing_Date != DateTime.MinValue)
                                    {
                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="PurchaseInvoice.Purchase_Packing_Date" id="txtPurchase_Packing_Date" value="@Model.PurchaseInvoice.Purchase_Packing_Date.ToShortDateString()" />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="PurchaseInvoice.Purchase_Packing_Date" id="txtPurchase_Packing_Date" value="@DateTime.Now.ToShortDateString()" />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    }
                                </div>

                                @*<div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Purchase Packing Date.</span>
                                    <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                        <input type="text" class="form-control datepicker" name="PurchaseInvoice.Purchase_Packing_Date" id="txtPurchase_Packing_Date" value="@((Model.PurchaseInvoice.Purchase_Packing_Date == DateTime.MinValue ? DateTime.Now.ToString("MM-dd-yyyy") : Model.PurchaseInvoice.Purchase_Packing_Date.ToString("MM-dd-yyyy")))" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>*@

                            </div>

                        </div>

                    </div>

                    @*<div class="row">
                        <div class="col-md-12" style="border-bottom: 1px solid #DDD; padding: 0px 10px 10px 10px; height: 50px;">
                            <div class="block">
                                <div class="block" style="margin-top:0px; ">
                                    <div class="btn-group">
                                        <a href="javascript:AddPurchaseInvoiceDetails();" id="btnAddInputRow" class="btn btn-success active">
                                            <i class="mdi mdi-plus"></i>
                                            Add New Row
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@


                    <div class="row">
                        <div class="table-responsive" style="width:100%; margin: 0px 0;">
                            <input type="hidden" id="hdnRowIdspecific" value="0" />
                            <table class="table table-bordered table-hover" id="tblPurchaseInvoiceItems">
                                <thead>
                                    <tr>
                                        <th Style="width:150px">Barcode No.</th>
                                        <th style="width:150px">PO No.</th>
                                        <th Style="width:150px">SKU No.</th>
                                        <th Style="width:70px">Article No.</th>
                                        <th style="width:100px">Color</th>
                                        <th Style="width:100px">Brand</th>
                                        <th Style="width:100px">Category</th>
                                        <th Style="width:100px">Sub Category</th>
                                        <th Style="width:100px">Size Group</th>
                                        <th Style="width:60px">Size</th>
                                        <th Style="width:60px">Quantity</th>
                                        <th Style="width:60px">WSR</th>
                                        <th Style="width:60px">Total Amount</th>                                       
                                        <th Style="width:165px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="PurchaseInvoiceItemRow_0">
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.PurchaseInvoices[0].Barcode" id="textBarcode_No_0">
                                        </td>
                                        @*<td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.PurchaseInvoices[0].SKU_Code" id="textSKU_No_0" onchange="javascript: Get_Purchase_Invoice_Items_By_SKU_Code(0);">
                                        </td>*@
                                        <td>
                                            <div class="form-group auto-complete">
                                                <div class="input-group">
                                                    <input type="text" class="form-control invoice-filter autocomplete-text" id="textPurchase_Order_No_0" placeholder="Enter PO no. to search" onblur="javascript: Enable_SKU_Lookup(0);" value="" data-table="Purchase_Order" data-col="Purchase_Order_Id,Purchase_Order_No" data-headernames="Purchase Order" data-param="hdf_Vendor_Id" data-field="Vendor_Id" maxlength="10" />
                                                    <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                                    <input type="hidden" id="hdnPurchase_Order_Id_0" value="" name="PurchaseInvoice.PurchaseInvoices[0].Purchase_Order_Id" class="auto-complete-value" />
                                                    <input type="hidden" id="hdnPurchase_Order_No_0" value="" name="PurchaseInvoice.PurchaseInvoices[0].Purchase_Order_No" class="auto-complete-label" />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group auto-complete">
                                                <div class="input-group">
                                                    <input type="text" class="form-control invoice-filter autocomplete-text" id="textSKU_No_0" onblur="javascript: Get_Purchase_Invoice_Items_By_SKU_Code(0);" placeholder="Enter SKU to search" value="" data-table="Product_SKU_Mapping" data-col="Quantity,SKU_Code" data-headernames="SKU Code" data-param="hdnPurchase_Order_Id_0" data-field="Purchase_Order_Id" />
                                                    <span class="input-group-addon"><a href="#" class="text-muted div_SKU" id="hrefDealer" role="button"><i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                                    <input type="hidden" id="hdnQuantity_0" value="" class="auto-complete-value" />
                                                    <input type="hidden" id="hdnSKU_No_0" value="" name="PurchaseInvoice.PurchaseInvoices[0].SKU_Code" class="auto-complete-label" />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.PurchaseInvoices[0].Article_No" id="textArticle_No_0" readonly />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.PurchaseInvoices[0].Color" id="textColor_0" readonly />
                                            <input type="hidden" name="PurchaseInvoice.PurchaseInvoices[0].Color_Id" id="hdnColor_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.PurchaseInvoices[0].Brand" id="textBrand_0" readonly />
                                            <input type="hidden" name="PurchaseInvoice.PurchaseInvoices[0].Brand_Id" id="hdnBrand_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.PurchaseInvoices[0].Category" id="textCategory_0" readonly />
                                            <input type="hidden" name="PurchaseInvoice.PurchaseInvoices[0].Category_Id" id="hdnCategory_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.PurchaseInvoices[0].SubCategory" id="textSub_Category_0" readonly />
                                            <input type="hidden" name="PurchaseInvoice.PurchaseInvoices[0].SubCategory_Id" id="hdnSubCategory_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.PurchaseInvoices[0].Size_Group_Name" id="textSize_Group_Name_0" readonly />
                                            <input type="hidden" name="PurchaseInvoice.PurchaseInvoices[0].Size_Group_Id" id="hdnSize_Group_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.PurchaseInvoices[0].Size_Name" id="textSize_Name_0" readonly />
                                            <input type="hidden" name="PurchaseInvoice.PurchaseInvoices[0].Size_Id" id="hdnSize_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.PurchaseInvoices[0].Quantity" id="textQuantity_0" value="1" onblur="javascript: CalculateTotal();" maxlength="10"/>
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.PurchaseInvoices[0].WSR_Price" value="0" id="textWSR_Price_0" readonly />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.PurchaseInvoices[0].Amount" value="0" id="textAmount_0" readonly />
                                        </td>                                     
                                        <td>
                                            <div class="btn-group">
                                                <button type='button' id='addrow-Return-details' class='btn btn-success active' onclick='javascript: AddPurchaseInvoiceDetails();'>Add Row</button>
                                                <button type='button' id='delete-invoice-details' class='btn btn-danger active' onclick='javascript:DeletePurchaseInvoiceDetailsData(0)'>Delete</button>
                                            </div>                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.col -->
                    </div><!-- /.row -->


                    <div class="row">
                        <div class="table-responsive" style="width:100%;">
                            <table class="table table-bordered" id="tblPurchaseInvoice">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td Style="width:150px"></td>
                                        <td Style="width:150px"></td>
                                        <td Style="width:70px"></td>
                                        <td style="width:110px"></td>
                                        <td Style="width:110px"></td>
                                        <td Style="width:100px"></td>
                                        <td Style="width:100px"></td>
                                        <td Style="width:100px"></td>
                                        <td Style="width:60px">
                                            <label>Total Qty</label>
                                        </td>
                                        <td Style="width:60px">
                                            <input class="form-control input-sm" type="text" value="1" name="PurchaseInvoice.Total_Quantity" readonly id="textTotalQuantity_0">
                                        </td>
                                        <td Style="width:60px">
                                            <label>WSR Amount</label>
                                        </td>
                                        <td Style="width:60px">
                                            <input class="form-control input-sm" type="text" value="0" name="PurchaseInvoice.Total_Amount" readonly id="textTotalAmount_0">
                                        </td>
                                        <td Style="width:150px"></td>
                                        <td Style="width:160px"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <label>Discount</label>
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.Discount_Percentage" value="0" onblur="javascript: CalculateDiscount();" id="textDiscountPercentage_0" maxlength="5">
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.Discount_Amount" value="0" readonly id="textDiscountAmount_0">
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <label>Gross Amount</label>
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.Gross_Amount" value="0" readonly id="textGrossAmount_0">
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <label>Tax</label>
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.Tax_Percentage" value="0" readonly id="textTaxPercentage_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.Tax_Amount" value="0" readonly id="textTaxAmount_0">
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <label>Round Off</label>
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" readonly value="0.00" name="PurchaseInvoice.Round_Off_Amount" id="textRoundOff_0">
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <label>NET Amount</label>
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseInvoice.Net_Amount" value="0" readonly id="textNETAmount_0">
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.col -->
                    </div>


                    <div class="row">
                        <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-top: 1px solid #DDD; padding: 0px 10px 10px 10px; height: 120px;">
                            <div class="block">
                                <h4 style="margin-top: 0px;">Payment Terms.</h4>
                                                             

                                <div class="form-group col-md-3">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Payment Period.</span>
                                    <select class="form-control select" name="PurchaseInvoice.Payment_Period">
                                        <option value="">Select Period</option>
                                        <option value="15">15 Days</option>
                                        <option value="30">30 Days</option>
                                        <option value="45">45 Days</option>
                                        <option value="60">60 Days</option>
                                        <option value="90">90 Days</option>
                                    </select>
                                </div>


                                <div class="form-group col-md-3">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Payment Due Date.</span>
                                    @if (Model.PurchaseInvoice.Payment_Due_Date != DateTime.MinValue)
                                    {
                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="PurchaseInvoice.Payment_Due_Date" id="txtPayment_Due_Date" value="@Model.PurchaseInvoice.Payment_Due_Date.ToShortDateString()" />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="PurchaseInvoice.Payment_Due_Date" id="txtPayment_Due_Date" value="@DateTime.Now.ToShortDateString()" />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    }
                                </div>

                                @*<div class="form-group col-md-3">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Payment Due Date.</span>
                                    <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                        <input type="text" class="form-control datepicker" name="PurchaseInvoice.Payment_Due_Date" id="txtPayment_Due_Date" value="@((Model.PurchaseInvoice.Payment_Due_Date == DateTime.MinValue ? DateTime.Now.ToString("MM-dd-yyyy") : Model.PurchaseInvoice.Payment_Due_Date.ToString("MM-dd-yyyy")))" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>*@

                                <div class="form-group col-md-3">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Discount %.</span>
                                    <input type="text" class="form-control input-sm" id="txtVendor_VAT_No" name="PurchaseInvoice.Discount_Percentage_Before_Due_Date" maxlength="10"/>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-top: 1px solid #DDD; padding: 0px 10px 10px 10px; height: 120px;">
                            <div class="block">
                                <h4 style="margin-top: 0px;">Transport Details.</h4>

                                <div class="form-group col-md-3">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Transporter Name.</span>
                                    <select class="form-control select" name="PurchaseInvoice.Transporter_Id">
                                        <option value="">Select Transporter</option>
                                        @foreach (var item in Model.PurchaseInvoice.Transporters)
                                        {
                                            if (Model.PurchaseInvoice.Transporter_Id == item.Vendor_Id)
                                            {
                                                <option value="@item.Vendor_Id" selected="selected">@item.Vendor_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Vendor_Id">@item.Vendor_Name</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="form-group col-md-3">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">LR No.</span>
                                    <input type="text" class="form-control input-sm" id="txtLR_No" name="PurchaseInvoice.Lr_No" maxlength="20"/>
                                </div>


                                <div class="form-group col-md-3">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">LR Date.</span>
                                    @if (Model.PurchaseInvoice.Lr_Date != DateTime.MinValue)
                                    {
                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="PurchaseInvoice.Lr_Date" id="txtLr_Date" value="@Model.PurchaseInvoice.Lr_Date.ToShortDateString()" />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="PurchaseInvoice.Lr_Date" id="txtLr_Date" value="@DateTime.Now.ToShortDateString()" />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    }
                                </div>


                                @*<div class="form-group col-md-3">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">LR Date.</span>
                                    <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                        <input type="text" class="form-control datepicker" name="PurchaseInvoice.Lr_Date" id="txtLr_Date" value="@((Model.PurchaseInvoice.Lr_Date == DateTime.MinValue ? DateTime.Now.ToString("MM-dd-yyyy") : Model.PurchaseInvoice.Lr_Date.ToString("MM-dd-yyyy")))" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>*@

                                
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02);padding-left: 20px; padding-right:0px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 15px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD;">
                            <div class="btn-group">
                                <button type="button" id="btnSavePurchaseInvoice" class="btn btn-success active">Save</button>
                                <button type="reset" id="btnCancelPurchaseInvoice" class="btn btn-danger active">Reset</button>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-top: 40px; padding-left: 10px; padding-right: 10px;">
                        </div>
                    </div>

                </div>
            </div>
          
        </form>
    </div>
</div>
