@model MyLeoRetailer.Models.BranchViewModel
@using MyLeoRetailerInfo.Common;

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/Branch/Branch_events.js"></script>
<script src="~/Scripts/Modules/Branch/Branch_methods.js"></script>
<script src="~/Scripts/Modules/Branch/Branch_validation.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">Branch Management</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Branch Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <form id="frmBranch">

        <div class="row">

            <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 500px;">

                <div class="block" style="border-bottom: 1px solid #DDD; padding-bottom:20px;margin-bottom:0px; ">

                    <h4 style="margin-top: 0px;">Primary information.</h4>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Branch name.</span>
                        <input type="text" class="form-control" placeholder="Enter Branch name." name="Branch.Branch_Name" value="@Model.Branch.Branch_Name" id="txtBranch_Name"/>
                        <input type="hidden" id="hdnBranch_Id" name="Branch.Branch_ID" value="@Model.Branch.Branch_ID" />
                        <input type="hidden" value="@Model.Branch.IsActive" />@*name="Branch.IsActive" Commented by Vinod Mane on 23/09/2016*@
                        <input type="hidden" id="hdnBranch_Name" value="@Model.Branch.Branch_Name"/>@*Added by vinod mane on 27/09/2016*@
                    </div>

                </div>

                <div class="block">
                    <h4 style="margin-top: 15px;">Communication detail.</h4>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Landline no1.</span>
                        <input type="text" class="form-control" placeholder="Enter landline number 1." name="Branch.Branch_Landline1" value="@Model.Branch.Branch_Landline1" maxlength="12" />
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Landline no2.</span>
                        <input type="text" class="form-control" placeholder="Enter landline number 2." name="Branch.Branch_Landline2" value="@Model.Branch.Branch_Landline2" maxlength="12" />
                    </div>
                </div>

            </div>

            <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 500px;">

                <div class="block">
                    <h4 style="margin-top: 0px;">Branch address.</h4>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Address.</span>
                        <textarea class="form-control" rows="5" placeholder="Enter address." name="Branch.Branch_Address">@Model.Branch.Branch_Address</textarea>
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">City.</span>
                        <input type="text" class="form-control" placeholder="Enter city." name="Branch.Branch_City" value="@Model.Branch.Branch_City" />
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">State.</span>
                        <input type="text" class="form-control" placeholder="Enter state." name="Branch.Branch_State" value="@Model.Branch.Branch_State" />
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Country.</span>
                        <input type="text" class="form-control" placeholder="Enter country." name="Branch.Branch_Country" value="@Model.Branch.Branch_Country" />
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Pincode.</span>
                        <input type="text" class="form-control" placeholder="Enter pincode." name="Branch.Branch_Pincode" value="@(Model.Branch.Branch_Pincode == 0 ? "" : Model.Branch.Branch_Pincode.ToString())" maxlength="6" />
                    </div>

                </div>

            </div>
            @{
                var j = 0;
                <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 500px;">

                    <div class="block">

                        <h4 style="margin-top: 0px;">Near Location information.</h4>

                        <div class="col-md-10">
                            <div class="form-group">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">Pincode.</span>
                                <input type="text" class="form-control" placeholder="Enter pincode." id="txtNear_Location_Pincode" name="Branch.Near_Branch_Location_Pincode" value="@(Model.Branch.Near_Branch_Location_Pincode == 0 ? "" : Model.Branch.Near_Branch_Location_Pincode.ToString())" maxlength="6" />
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="button" id="btnAddNear" class="btn btn-default bg-blue">+</button>
                            </div>
                        </div>

                        <br />

                        <div class="table-responsive" style="width:100%; margin: 50px 0;">
                            <input type="hidden" id="hdnIsEditNearDetails" value="false" />
                            <input type="hidden" id="hdnRowIdspecific" value="0" />
                            <table class="table table-bordered" id="tblNearDetails">
                                <thead>
                                    <tr id="subhead">
                                        <th width="65%">Pincode</th>
                                        <th width="35%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Branch.LocationDetailsList != null && Model.Branch.LocationDetailsList.Count() > 0)
                                    {
                                        int i = 0;
                                        foreach (var itm in Model.Branch.LocationDetailsList)
                                        {
                                            if (itm.Branch_Location_Flag == 1)
                                            {
                                                <tr id="tr@(i)">
                                                    <td>
                                                        <span id="trNear_Location_Pincode@(i)"> @itm.Branch_Location_Pincode</span>
                                                        <input type="hidden" id="hdnpincode@(i)" name="Branch.LocationDetailsList[@i].Branch_Location_Pincode" value="@itm.Branch_Location_Pincode">
                                                        <input type="hidden" id="hdnNear_Branch_Location_ID@(i)" name="Branch.LocationDetailsList[@i].Branch_Location_ID" value="@itm.Branch_Location_ID">
                                                        <input type="hidden" id="hdnFlag@(i)" name="Branch.LocationDetailsList[@i].Flag" value="@itm.Flag.ToString()">
                                                        <input type="hidden" id="hdnNear_Branch_Location_Flag@(i)" name="Branch.LocationDetailsList[@i].Branch_Location_Flag" value="@itm.Branch_Location_Flag">
                                                        <input type="hidden" id="hdnBranch_Id@(i)" name="Branch.LocationDetailsList[@i].Branch_Id" value="@Model.Branch.Branch_ID">
                                                    </td>

                                                    <td>
                                                        <button type="button" id="edit-near-details" class="btn btn-box-tool btn-tel-edit" onclick="javascript:EditNearLocationDetailsData(@i)"><i class='fa fa-pencil'></i></button>
                                                        <button type="button" id="delete-near-details" class="btn btn-box-tool btn-tel-delete" onclick="javascript:DeleteNearLocationDetailsData(@i)"><i class='fa fa-times'></i></button>
                                                    </td>
                                                </tr>
                                                i = i + 1;
                                            }
                                        }
                                        j = i;
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

                <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 500px;">

                    <div class="block">

                        <h4 style="margin-top: 0px;">Far Location information.</h4>

                        <div class="col-md-10">
                            <div class="form-group">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;">Pincode.</span>
                                <input type="text" class="form-control" placeholder="Enter pincode." id="txtFar_Location_Pincode" name="Branch.Far_Branch_Location_Pincode" value="@(Model.Branch.Far_Branch_Location_Pincode == 0 ? "" : Model.Branch.Far_Branch_Location_Pincode.ToString())" maxlength="6" />
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="button" id="btnAddFar" class="btn btn-default bg-blue">+</button>
                            </div>
                        </div>

                        <br />

                        <div class="table-responsive" style="width:100%; margin: 50px 0;">
                            <input type="hidden" id="hdnIsEditFarDetails" value="false" />
                            <input type="hidden" id="hdnRowIdspecific2" value="0" />
                            <table class="table table-bordered" id="tblFarDetails">
                                <thead>
                                    <tr id="subhead">
                                        <th width="65%">Pincode</th>
                                        <th width="35%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Branch.LocationDetailsList != null && Model.Branch.LocationDetailsList.Count() > 0)
                                    {

                                        foreach (var itm in Model.Branch.LocationDetailsList)
                                        {
                                            if (itm.Branch_Location_Flag == 2)
                                            {
                                                <tr id="tr@(j)">
                                                    @*<td>
                                                            <span id="trFar_Location_Pincode@(j)"> @itm.Branch_Location_Pincode</span>
                                                            <input type="hidden" id="hdnpincode1@(j)" name="Branch.FarLocationDetailsList[@j].Branch_Location_Pincode" value="@itm.Branch_Location_Pincode">
                                                            <input type="hidden" id="hdnFar_Branch_Location_ID@(j)" name="Branch.FarLocationDetailsList[@j].Branch_Location_ID" value="@itm.Branch_Location_ID">
                                                            <input type="hidden" id="hdnFar_Branch_Location_Flag@(j)" name="Branch.FarLocationDetailsList[@j].Branch_Location_Flag" value="@itm.Branch_Location_Flag">
                                                        </td>*@
                                                    <td>
                                                        @*<span id="trNear_Location_Pincode@(j)"> @itm.Branch_Location_Pincode</span>*@
                                                        <span id="trFar_Location_Pincode@(j)"> @itm.Branch_Location_Pincode</span>@*Added by Vinod Mane on 23/09/2016*@
                                                        <input type="hidden" id="hdnpincode1@(j)" name="Branch.LocationDetailsList[@j].Branch_Location_Pincode" value="@itm.Branch_Location_Pincode">
                                                        <input type="hidden" id="hdnNear_Branch_Location_ID@(j)" name="Branch.LocationDetailsList[@j].Branch_Location_ID" value="@itm.Branch_Location_ID">
                                                        <input type="hidden" id="hdnFlag@(j)" name="Branch.LocationDetailsList[@j].Flag" value="@itm.Flag.ToString()">
                                                        <input type="hidden" id="hdnNear_Branch_Location_Flag@(j)" name="Branch.LocationDetailsList[@j].Branch_Location_Flag" value="@itm.Branch_Location_Flag">
                                                        <input type="hidden" id="hdnBranch_Id@(j)" name="Branch.LocationDetailsList[@j].Branch_Id" value="@Model.Branch.Branch_ID">
                                                    </td>

                                                    <td>
                                                        <button type="button" id="edit-far-details" class="btn btn-box-tool btn-tel-edit" onclick="javascript:EditFarLocationDetailsData(@j)"><i class='fa fa-pencil'></i></button>
                                                        <button type="button" id="delete-far-details" class="btn btn-box-tool btn-tel-delete" onclick="javascript:DeleteFarLocationDetailsData(@j)"><i class='fa fa-times'></i></button>
                                                    </td>
                                                </tr>
                                                j = j + 1;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            }
            <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02);padding-left: 20px; padding-right:0px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 15px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD;">

                <div class="btn-group">
                    <button type="button" class="btn btn-success active" id="btnSaveBranch">Save</button>
                    <button type="reset" class="btn btn-danger active" id="btnCancleBranch">Cancel</button>
                </div>
                
                <div class="form-group" style="margin-bottom: 5px; float: right; padding-right:20px;">                   
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Set active.</span>@* Added by Vinod mane on 23/09/2016*@                   
                    <label class="switch">
                        @if (Model.Branch.IsActive == 0)
                        {
                            <input value="@Model.Branch.IsActive" name="Branch.IsActive" type="checkbox" id="Flag">
                        }
                        else
                        {
                            <input value="@Model.Branch.IsActive" name="Branch.IsActive" checked="checked" type="checkbox" id="Flag">
                        }
                        <span></span>
                    </label>
                </div>
            </div>


        </div>

    </form>
</div>

