@model MyLeoRetailer.Models.ReceivableViewModel
@using MyLeoRetailer.Common;
@using MyLeoRetailerInfo.Common;

<script src="~/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/Receivable/Receivable_Search_Event.js"></script>
<script src="~/Scripts/Modules/Receivable/Receivable_Search_Methods.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">Receivable</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Receivable</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <form role="form" id="frmReceivable" method="post">

            <div class="box box-default">

                <div class="box-body">

                    <input type="hidden" class="form-control input-sm" name="Receivable.Receivable_Id" id="hdf_Receivable_Id" value="@Model.Receivable.Receivable_Id">

                    <input type="hidden" class="form-control input-sm" name="Receivable.Sales_Credit_Note_Id" id="hdf_Sales_Credit_Note_Id">

                    <input type="hidden" class="form-control input-sm" name="Receivable.Sales_Invoice_Id" id="hdf_Sales_Invoice_Id" value="@Model.Receivable.Sales_Invoice_Id">

                    <input type="hidden" class="form-control input-sm" name="Receivable.Gift_Voucher_Id" id="hdf_Gift_Voucher_Id">

                    <div class="col-md-12" style="padding-top: 0px; padding-left: 10px; padding-right: 10px;">

                        @*<div class="col-md-12" style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">

                            <div class="btn-group">
                                <button type="button" id="btnSearchReceivable" class="btn btn-success active">Search</button>*@
                                @*<button type="button" id="btnCancelVendor" class="btn btn-danger active">Cancel</button>*@
                                @*<button type="reset" id="btnResetReceivable" class="btn btn-danger active">Reset</button>
                            </div>

                        </div>*@


                        <div class="col-md-12" style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Invoice no</span>
                                        <input type="text" class="form-control input-sm" name="Receivable.Sales_Invoice_No" id="txtInvoice_no" value="@Model.Receivable.Sales_Invoice_No" placeholder="Enter Invoice no" maxlength="10"/>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Customer name</span>
                                        <input type="text" class="form-control input-sm" name="Receivable.Customer_Name" id="txtCustomer_name" value="@Model.Receivable.Customer_Name" placeholder="Enter Customer name " maxlength="10" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Payment status</span>
                                        <select class="form-control" id="drpPayble_Status" name="Receivable.Payment_Status">
                                            <option value="0">Select Payment Status</option>

                                            @foreach (var item in LookupInfo.Get_Receivable_Status())
                                            {

                                                if (Model.Receivable.Payment_Status == item.Key)
                                                {
                                                    <option value="@item.Key" selected="selected">@item.Value</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Key">@item.Value</option>
                                                }

                                            }

                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-12" style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">

                            <div class="row">


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">From date.</span>
                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="dd-mm-yyyy">
                                            <input type="text" class="form-control datepicker" name="Receivable.From_Date" value="@((Model.Receivable.From_Date == DateTime.MinValue ? "" : Model.Receivable.From_Date.ToString("dd-MM-yyyy")))" reado readonly />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">To date</span>
                                        <div class="input-group date" id="txtTo_Date" data-date="" data-date-format="dd-mm-yyyy">
                                            <input type="text" class="form-control datepicker" name="Receivable.To_Date" value="@((Model.Receivable.To_Date == DateTime.MinValue ? "" : Model.Receivable.To_Date.ToString("dd-MM-yyyy")))" reado readonly />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>

                                

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br />
                                        <br />
                                        <button type="button" id="btnSearchReceivable" class="btn btn-success active">Search</button>
                                        <button type="button" id="btnPay" class="btn btn-danger active">Pay</button>
                                        <button type="reset" id="btnResetReceivable" class="btn btn-danger active">Reset</button>
                                    </div>
                                </div>


                            </div>

                        </div>


                        <div class="col-md-12" style="padding: 0px;" id="divDynamicTable">

                                        </div>

                        <div class="col-md-12" style="padding: 0px;text-align:center;" id="divReceivablePager">


                        </div>


                    </div>

                </div>

            </div>
        </form>
    </div>
</div>
