@model MyLeoRetailer.Models.SalesInvoiceViewModel
@using MyLeoRetailer.Common;
@using MyLeoRetailerInfo.Common;


<script src="~/Content/Atlant/js/plugins/maskedinput/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/Modules/SalesOrder/salesorder_validation.js"></script>
<script src="~/Scripts/Modules/SalesOrder/salesorder_events.js"></script>
<script src="~/Scripts/Modules/SalesOrder/salesorder_methods.js"></script>
<script src="~/Scripts/Modules/common_methods.js"></script>


<style>
    .form-group {
        margin-bottom: 15px !important;
    }

    .table > thead > tr > th {
        color: #fff !important;
        font-size: 12px !important;
        background-color: #29343f !important;
        font-weight: 600 !important;
    }

    .table > thead > tr > th {
        /*text-align: center;*/
    }

    .table-hover > tbody > tr:hover {
        background-color: #eee;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-color: rgba(153, 153, 153, 0.13) !important;
    }

    .modal-header, .modal-body, .modal-footer {
        background: rgba(0, 0, 0, 0.06) !important;
    }

    .modal-body {
        padding: 0;
    }

    .modal-content {
        border-width: 0 !important;
        border-radius: 0 !important;
    }

    .label-read {
        background-color: transparent;
        color: #33414e;
        font-size: 14px;
        font-weight: 600;
        border: 1px solid #33414e;
    }

    .check .icheckbox_minimal-grey, .check .iradio_minimal-grey {
        background: #ddd;
        border-radius: 50%;
    }

    .iradio_minimal-grey.checked {
        background: #e34724;
        border-radius: 50%;
    }

    .input-group-addon {
        background-color: #33414e !important;
        color: #fff !important;
    }
</style>


@{
    ViewBag.Title = "Index";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li class="active">Sales Invoice</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="col-md-12">
            <div class="page-title">
                <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Sales Invoice</h2>
            </div>
            <button class="btn btn-danger pull-right" onclick="location.href='@Url.Action("Search", "SalesOrder")'"><i class="fa fa-angle-double-left"></i> BACK</button>
        </div>

        @*<div class="col-md-9">
                <a class="btn btn-success active pull-right" role="button" id="btnCustomer" href="@Url.Action("Index", "Customer")">Create Customer</a>
                @*<button type="button" id="btnPrint" class="btn btn-default bg-orange">Print</button>
            </div>*@
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <form id="frmSalesOrder">

            <input type="hidden" id="hdnCreateCustomerFlag" name="SalesInvoice.CreateCustomerFlag">
            <input type="hidden" id="hdnSelecteddBranchId" name="SalesInvoice.Selected_Branch_Id" value="@Model.SalesInvoice.Branch_Id">

            <div class="modal fade" id="myModalAddCustomer" role="dialog" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="AddCustomerLabel">Add Customer Details</h4>
                        </div>
                        <div class="modal-body" id="div_Parent_Modal_Body">
                            <div class="row">
                                <div class="col-md-12" style="text-align:center ">
                                    <h5 class="">Please Create Customer for Entered Mobile No.</h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" style="text-align:center ">
                                    <a class="btn btn-success active" role="button" id="btnCustomer" @*href="@Url.Action("Index", "Customer")"*@>Create Customer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-default">

                <div class="box-body">

                    <div class="row">

                        <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 100px;">

                            <div class="block">

                                <input type="hidden" class="form-control input-sm" name="SalesInvoice.Sales_Invoice_Id" id="hdf_SalesInvoice_Id" @*value="@Model.SalesInvoice.Sales_Invoice_Id"*@>
                                <input type="hidden" class="form-control input-sm" name="Filter.Sales_Invoice_Id" id="hdnSalesInvoiceID" value="@Model.Filter.Sales_Invoice_Id">

                                @*Changes Required once pulled*@

                                <input type="hidden" id="hdnEmployee_Id" name="Cookies.Employee_Id" value="Sales" />

                                @*<div class="col-md-3">
                                        <div class="form-group">

                                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Invoice No.</span>

                                            <input type="text" class="form-control input-sm" name="SalesInvoice.Sales_Invoice_No" id="txtInvoice_No" value="@Model.SalesInvoice.Sales_Invoice_No" placeholder="Enter Sales Invoice No" />

                                        </div>
                                    </div>*@

                                <div class="col-md-3" id="divBranch">
                                    @{
                                        LoginInfo Cookies = new LoginInfo();
                                        Cookies = Utility.Get_Login_User("MyLeoLoginInfo", "MyLeoToken", "Branch_Ids");

                                        <input type="hidden" id="hdnBranchIDs" value="@Cookies.Branch_Ids" />
                                    }
                                    <div class="form-group auto-complete">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Branch</span>
                                        <div id="Branch" class="input-group">
                                            <input type="text" class="form-control invoice-filter autocomplete-text lookup-text" name="SalesInvoice.Branch_Name" id="textSales_Branch_Name_0" placeholder="Enter Branch to search" value="@Model.SalesInvoice.Branch_Name" data-table="Assign_Branches" data-col="Branch_ID,Branch_Name" data-headernames="Branch" data-field="Branch_Id" data-param="hdnBranchIDs">
                                            <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                            <input type="hidden" id="hdnBranchID" value="@Model.SalesInvoice.Branch_Id" name="SalesInvoice.Branch_Id" class="auto-complete-value" />
                                            <input type="hidden" id="hdnBranchName" value="@Model.SalesInvoice.Branch_Name" name="SalesInvoice.Branch_Name" class="auto-complete-label" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">

                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Invoice date</span>

                                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" id="dtpInvoice_Date" name="SalesInvoice.Invoice_Date" value="@((Model.SalesInvoice.Invoice_Date == DateTime.MinValue ? "" : Model.SalesInvoice.Invoice_Date.ToString("MM-dd-yyyy")))" readonly />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">

                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Mobile No.</span>

                                        <input type="text" class="mask_mobile_no form-control input-sm editor-field focus" name="SalesInvoice.Mobile" id="txtMobileNo" value="@Model.SalesInvoice.Mobile" placeholder="Enter Mobile No" />
                                        <input type="hidden" id="hdnMobileNo" value="@Model.SalesInvoice.Mobile1" name="SalesInvoice.Mobile1">

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">

                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Customer Name.</span>

                                        <input type="text" class="form-control input-sm" readonly name="SalesInvoice.Customer_Name" id="txtCustomer_Name" value="@Model.SalesInvoice.Customer_Name" placeholder="Customer Name" />
                                        <input type="hidden" name="SalesInvoice.Customer_Id" value="@Model.SalesInvoice.Customer_Id" id="hdnCustomer_ID" />

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    @*<div class="row">
                        <div class="col-md-12" style="border-bottom: 1px solid #DDD; padding: 0px 10px 10px 10px; height: 50px;">
                            <div class="block">
                                <div class="block" style="margin-top:0px; ">
                                    <div class="btn-group pull-right">
                                        <a href="javascript:AddSalesOrderDetails();" id="btnAddInputRow" class="btn btn-success active ">
                                            <i class="mdi mdi-plus"></i>
                                            Add New Row
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

                    <div class="block" style="background: rgba(0, 0, 0, 0.06); border-top: 1px solid #DDD; padding-top: 10px; padding-bottom:0; margin-bottom: 0; padding-left: 0; padding-right: 0;">
                        <h4 style="border-bottom: 1px; width: 190px; line-height: 24px; margin-left: 18px;">Sales Invoice Details.</h4>
                        <div class="table-responsive" style="width:100%;">
                            <input type="hidden" id="hdnRowIdspecific" value="0" />
                            <table class="table table-hover" style="margin-bottom: 0;" id="tblSalesOrderItems">
                                <thead>
                                    <tr>
                                        <th style="width:100px;">Barcode No.</th>
                                        <th style="width:100px;">SKU No</th>
                                        <th style="width:70px;">Article No</th>
                                        <th style="width:70px;">Colour</th>
                                        <th style="width:100px;">Brand</th>                                       
                                        <th style="width:100px;">Category</th>
                                        <th style="width:100px;">Sub Category</th>
                                        <th style="width:100px;">Size</th>                                       
                                        <th style="width:60px;">MRP</th>
                                        <th style="width:60px;">Quantity</th>
                                        <th style="width:60px;">Discount Percentage</th>
                                        <th style="width:60px;">Discount Amount</th>
                                        <th style="width:60px;">Amount</th>
                                        <th style="width:100px;">Salesman Name</th>
                                        <th style="width:100px;">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr id="SalesOrderItemRow_0">
                                        <td>
                                            <input class="form-control input-sm barcode"  type="text" name="SaleOrderItemList[0].Barcode" id="textBarcode_No_0" onblur="javascript: Get_Sales_Order_Items_By_Barcode(0);" placeholder="">
                                        </td>
                                        <td>
                                            @*<input class="form-control input-sm" type="text" style="width:150px" name="SaleOrderItemList[0].SKU_Code" id="textSKU_No_0" placeholder="SKU Code" onchange="javascript: Get_Sales_Order_Items_By_SKU_Code(0);">*@
                                            <div class="form-group auto-complete">
                                                <div class="input-group">
                                                    <input type="text" class="form-control invoice-filter autocomplete-text" id="textSKU_No_0" onblur="javascript: Get_Sales_Order_Items_By_SKU_Code(0);" placeholder="SKU Code" value="" data-table="Inventorys" data-col="Branch_Id,Product_SKU" data-headernames="SKU Code" name="SKU_Code_0" data-param="hdnBranchID" data-field="Branch_Id" />
                                                    <span class="input-group-addon"><a href="#" class="text-muted" id="hrefDealer" role="button"><i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                                    <input type="hidden" id="hdnProduct_Id_0" value="" class="auto-complete-value" />
                                                    <input type="hidden" id="hdnSKU_No_0" value="" name="SaleOrderItemList[0].SKU_Code" class="auto-complete-label" />
                                                </div>
                                            </div>

                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="SaleOrderItemList[0].Article_No" id="textArticle_No_0" readonly placeholder="Article No">
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="SaleOrderItemList[0].Brand" id="textBrand_0" readonly placeholder="Brand">
                                            <input type="hidden" name="SaleOrderItemList[0].Brand_Id" id="hdnBrand_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="SaleOrderItemList[0].Category" id="textCategory_0" readonly placeholder="Category">
                                            <input type="hidden" name="SaleOrderItemList[0].Category_Id" id="hdnCategory_Id_0" />

                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="SaleOrderItemList[0].SubCategory" id="textSub_Category_0" readonly placeholder="Sub Category">
                                            <input type="hidden" name="SaleOrderItemList[0].SubCategory_Id" id="hdnSubCategory_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="SaleOrderItemList[0].Size_Name" id="textSize_Name_0" readonly placeholder="Size">
                                            <input type="hidden" name="SaleOrderItemList[0].Size_Id" id="hdnSize_Id_0" />

                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="SaleOrderItemList[0].Colour_Name" id="textColour_Name_0" readonly placeholder="Colour">
                                            <input type="hidden" name="SaleOrderItemList[0].Colour_Id" id="hdnColour_Id_0" />

                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="SaleOrderItemList[0].MRP_Price" id="textMRP_Price_0" readonly placeholder="MRP">
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="SaleOrderItemList[0].Quantity" id="textQuantity_0" value="" placeholder="Quantity" onblur="javascript: CalculateQuantityMRP();" maxlength="10">
                                            <input type="hidden" id="hdnQuantity" value="@Model.SalesInvoice.Quantity1" name="SalesInvoice.Quantity1">
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="SaleOrderItemList[0].Discount_Percentage" id="textDiscount_Percentage_0" value="" onblur="javascript: CalculateTotal();" placeholder="Disc %" maxlength="5">
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="SaleOrderItemList[0].SalesOrder_Discount_Amount" id="textSalesOrder_Discount_Amount_0" readonly placeholder="D Amt">
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="SaleOrderItemList[0].Amount" id="textAmount_0" readonly placeholder="Amt">
                                        </td>
                                        <td>
                                            @*<input class="form-control input-sm" type="text" name="SaleOrderItemList[0].SalesMan" id="textSalesMan_0" placeholder="SalesMan">*@
                                            <div class="form-group auto-complete">
                                                <div class="input-group">
                                                    <input type="text" class="form-control invoice-filter autocomplete-text" name="SaleOrderItemList[0].SalesMan" id="textSalesMan_0" placeholder="Enter SalesMan" value="" data-table="Employee" data-col="Employee_Id,Employee_Name" data-headernames="Employee" data-param="hdnEmployee_Id" data-field="Sales_Invoice">
                                                    <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                                    <input type="hidden" id="hdnSalesManId_0" value="" name="SaleOrderItemList[0].SalesMan_Id" class="auto-complete-value" />
                                                    <input type="hidden" id="hdnSalesMan_0" value="" name="SaleOrderItemList[0].SalesMan" class="auto-complete-label" />
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type='button' id='btnAddInputRow' class='btn btn-success active' onclick='javascript:AddSalesOrderDetails();'>+</button>
                                                <button type='button' id='delete-salesorder-details' class='btn btn-danger active' onclick='javascript:DeleteSalesOrderDetailsData(0)'>x</button>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div><!-- /.col -->
                    </div><!-- /.row -->

                    <div class="row">
                        <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 170px;">

                            <div class="col-xs-12 table-responsive">
                                <table id="tblSalesOrderItems">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <th><span class="label label-primary label-form label-read" style="background: rgba(74,77,67,0.09);">Total Summary</span></th>
                                            <th style="width: 6%;"></th>
                                            <th style="width: 6%;"></th>
                                            <th style="width: 7%;"></th>
                                            <th style="width: 26.5%;"></th>
                                            <th><input class="form-control input-sm" type="text" style="margin-bottom: 1px; width : 80px; background: rgba(74,77,67,0.09);" name="SalesInvoice.Total_MRP_Amount" value="@Model.SalesInvoice.Total_MRP_Amount" readonly id="textMRPAmount_0"></th>
                                            <th style="width: 0.5%;"></th>
                                            <th><input class="form-control input-sm" type="text" style="margin-bottom: 1px; width: 80px; background: rgba(74,77,67,0.09);" name="SalesInvoice.Total_Quantity" value="@Model.SalesInvoice.Total_Quantity" readonly id="textTotalQuantity_0"></th>
                                            <th style="width: 6.5%;"></th>
                                            <th><input class="form-control input-sm" type="text" style="margin-bottom: 1px; width: 80px; background: rgba(74,77,67,0.09);" name="SalesInvoice.Total_Discount_Amount" value="@Model.SalesInvoice.Total_Discount_Amount" readonly id="textDiscountAmount_0"></th>
                                            <th style="width: 1%;"></th>
                                            <th><input class="form-control input-sm" type="text" style="margin-bottom: 1px; width: 80px; background: rgba(74,77,67,0.09);" name="SalesInvoice.Gross_Amount" value="@Model.SalesInvoice.Gross_Amount" readonly id="textGrossAmount_0"></th>
                                        </tr>

                                        <tr>
                                            <th><span class="label label-primary label-form label-read" style="background: rgba(74,77,67,0.09);"></span></th>
                                            <th style="width: 6%;"></th>
                                            <th style="width: 6%;"></th>
                                            <th style="width: 7%;"></th>
                                            <th style="width: 26.5%;"></th>
                                            <th></th>
                                            <th style="width: 0.5%;"></th>
                                            <th></th>
                                            <th style="width: 6.5%;"></th>
                                            <th><span class="label label-primary label-form label-read" style="background: rgba(74,77,67,0.09);">Tax Percent</span></th>
                                            <th style="width: 1%;"></th>
                                            <th><input type="text" class="form-control input-sm" style="width:80px" name="SalesInvoice.Tax_Percentage" onblur="javascript: CalculateTax();" id="textTaxPercentage_0" placeholder="%" value="" maxlength="5"></th> @*@Model.SalesInvoice.Tax_Percentage*@
                                        </tr>

                                        <tr>
                                            <th><span class="label label-primary label-form label-read" style="background: rgba(74,77,67,0.09);"></span></th>
                                            <th style="width: 6%;"></th>
                                            <th style="width: 6%;"></th>
                                            <th style="width: 7%;"></th>
                                            <th style="width: 26.5%;"></th>
                                            <th></th>
                                            <th style="width: 0.5%;"></th>
                                            <th></th>
                                            <th style="width: 6.5%;"></th>
                                            <th><span class="label label-primary label-form label-read" style="background: rgba(74,77,67,0.09);">Tax Amount</span></th>
                                            <th style="width: 1%;"></th>
                                            <th><input class="form-control input-sm" type="text" style="width:80px" name="SalesInvoice.Tax_Amount" readonly value="@Model.SalesInvoice.Tax_Amount" id="textTaxAmount_0"></th>
                                        </tr>

                                        <tr>
                                            <th><span class="label label-primary label-form label-read" style="background: rgba(74,77,67,0.09);"></span></th>
                                            <th style="width: 6%;"></th>
                                            <th style="width: 6%;"></th>
                                            <th style="width: 7%;"></th>
                                            <th style="width: 26.5%;"></th>
                                            <th></th>
                                            <th style="width: 0.5%;"></th>
                                            <th></th>
                                            <th style="width: 6.5%;"></th>
                                            <th><span class="label label-primary label-form label-read" style="background: rgba(74,77,67,0.09);">Round Off</span></th>
                                            <th style="width: 1%;"></th>
                                            <th><input class="form-control input-sm" type="text" style="width:80px" name="SalesInvoice.Round_Off_Amount" readonly value="@Model.SalesInvoice.Round_Off_Amount" id="textRoundOff_0"></th>
                                        </tr>

                                        <tr>
                                            <th><span class="label label-primary label-form label-read" style="background: rgba(74,77,67,0.09);"></span></th>
                                            <th style="width: 6%;"></th>
                                            <th style="width: 6%;"></th>
                                            <th style="width: 7%;"></th>
                                            <th style="width: 26.5%;"></th>
                                            <th></th>
                                            <th style="width: 0.5%;"></th>
                                            <th></th>
                                            <th style="width: 6.5%;"></th>
                                            <th><span class="label label-primary label-form label-read" style="background: rgba(74,77,67,0.09);">Net Amount</span></th>
                                            <th style="width: 1%;"></th>
                                            <th><input class="form-control input-sm" type="text" style="width:80px" name="SalesInvoice.Net_Amount" value="@Model.SalesInvoice.Net_Amount" readonly id="textNETAmount_0"></th>
                                            <td width="200px"></td>
                                        </tr>

                                        <tr>
                                            <td width="150px"></td>
                                            <td width="150px"></td>
                                            <td width="70px"></td>
                                            <td width="100px"></td>
                                            <td width="100px"></td>
                                            <td width="100px"></td>
                                            <td width="80px"></td>
                                            <td width="60px"></td>
                                            <td width="160px"></td>
                                            <td width="40px"></td>
                                            <td width="40px"></td>
                                            <td>
                                                <label></label>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div><!-- /.col -->

                        </div>
                    </div>


                    <div class="row" style="border-bottom: 1px solid #DDD; border-top: 1px solid #DDD">

                        <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 140px;">

                            <input type="hidden" id="hdnPayment_Status1" value="@Model.SalesInvoice.Payment_Status">

                            <div class="block">

                                @*<h4 style="margin-top: 0px;">Payment Terms.</h4>*@

                                <h3 style="border-bottom: 1px; width: 190px; line-height: 24px; margin-left: 12px;"><b>Payment Terms.</b></h3>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Total Amount</span>
                                        <input type="text" class="form-control input-sm" name="SalesInvoice.Net_Amount" id="textTotalAmount" value="@(Model.SalesInvoice.Net_Amount == 0 ? "" : Model.SalesInvoice.Net_Amount.ToString())" placeholder="Total Amount" maxlength="10" />

                                        <input type="hidden" id="hdnSales_Invoice_Id" name="SalesInvoice.Sales_Invoice_Id" value="@Model.SalesInvoice.Sales_Invoice_Id">
                                        <input type="hidden" id="hdnReceivable_Item_Id" name="SalesInvoice.Receivable_Item_Id" value="@Model.SalesInvoice.Receivable_Item_Id">
                                        <input type="hidden" id="hdnReceivable_Id" name="SalesInvoice.Receivable_Id" value="@Model.SalesInvoice.Receivable_Id">
                                        @*<input type="hidden" id="hdnPurchase_Credit_Note_Id" name="Receivable.Purchase_Credit_Note_Id" value="@Model.Receivable.Purchase_Credit_Note_Id">*@

                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Payment date</span>
                                        <div class="input-group date" id="txtPayament_Date" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="SalesInvoice.Payament_Date" value="@((Model.SalesInvoice.Payament_Date == DateTime.MinValue ? "" : Model.SalesInvoice.Payament_Date.ToString("MM-dd-yyyy")))" readonly />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div>
                                        <div class="form-group">
                                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Cash Amount</span>
                                            <input type="text" class="form-control input-sm" name="SalesInvoice.Cash_Amount" id="txtCash_amount" value="@(Model.SalesInvoice.Cash_Amount == 0 ? "" : Model.SalesInvoice.Cash_Amount.ToString())" placeholder="Cash Amount" @*onchange="javascript: CalculatePaidAmt();"*@ maxlength="10" />
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-3" style="border-right:1px solid #DDD; height:332px">

                                <div class="block">
                                    <h4 style="margin-top: 0px;">Cheque information.</h4>

                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Cheque No</span>
                                        <input type="text" class="form-control input-sm" name="SalesInvoice.Cheque_No" id="txtCheque_No" value="@Model.SalesInvoice.Cheque_No" placeholder="Enter Cheque No" maxlength="20" />
                                    </div>

                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Cheque Amount</span>
                                        <input type="text" class="form-control input-sm" name="SalesInvoice.Cheque_Amount" id="txtCheque_Amount" value="@(Model.SalesInvoice.Cheque_Amount == 0 ? "" : Model.SalesInvoice.Cheque_Amount.ToString())" @*onchange="javascript: CalculatePaidAmt();"*@ placeholder="Enter Cheque Amount " maxlength="10" />
                                    </div>



                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Cheque Date</span>
                                        <div class="input-group date" id="txtCheque_Date" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" name="SalesInvoice.Cheque_Date" value="@((Model.SalesInvoice.Cheque_Date == DateTime.MinValue ? "" : Model.SalesInvoice.Cheque_Date.ToString("MM-dd-yyyy")))" readonly />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Bank Name</span>
                                        <input type="text" class="form-control input-sm" name="SalesInvoice.Bank_Name" id="txtBank_Name" value="@Model.SalesInvoice.Bank_Name" placeholder="Enter Bank Name" maxlength="50" />
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-3" style="border-right: 1px solid #DDD; height: 332px">
                                <div class="block">
                                    <h4 style="margin-top: 0px;">Credit Not detail.</h4>
                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Credit Note no</span>
                                        <select class="form-control" id="drpCredit_Note_No" name="SalesInvoice.Sales_Credit_Note_Id">
                                            <option>Select Credit Note no</option>

                                            @foreach (var item in Model.CreditNote)
                                            {
                                                if (Model.SalesInvoice.Sales_Credit_Note_Id == item.Credit_Note_Id)
                                                {
                                                    <option value="@item.Credit_Note_Id" selected="selected">@item.Credit_Note_No</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Credit_Note_Id">@item.Credit_Note_No</option>
                                                }
                                            }

                                        </select>
                                    </div>

                                    <div id="divPaidAmount">
                                        <div class="form-group">
                                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Credit Note Amount</span>
                                            <input type="text" class="form-control input-sm" name="SalesInvoice.Credit_Note_Amount" id="txtCredit_Note_Amount" value="@(Model.SalesInvoice.Credit_Note_Amount == 0 ? "" : Model.SalesInvoice.Credit_Note_Amount.ToString())" @*onchange="javascript: CalculatePaidAmt();"*@ placeholder=" Enter Paid amount" maxlength="20" />
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Credit Note Date</span>
                                        <div class="input-group date" id="txtCredit_Note_Date" data-date="" data-date-format="MM-dd-yyyy">
                                            <input type="text" class="form-control datepicker" id="dtpCreditNoteDate" name="SalesInvoice.Credit_Note_Date" value="@((Model.SalesInvoice.Credit_Note_Date == DateTime.MinValue ? "" : Model.SalesInvoice.Credit_Note_Date.ToString("MM-dd-yyyy")))" readonly />
                                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-3" style="border-right: 1px solid #DDD; height: 332px">
                                <div class="block">
                                    <h4 style="margin-top: 0px;">Card information.</h4>
                                    <div id="divDebitcardno">
                                        <div class="form-group">
                                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Card No </span>
                                            <input type="text" class="form-control input-sm" name="SalesInvoice.Credit_Card_No" id="txtCredit_Card_No" value="@Model.SalesInvoice.Credit_Card_No" placeholder="Enter card no" maxlength="30" />
                                        </div>
                                    </div>

                                    <div id="divCreditcardno">
                                        <div class="form-group">
                                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Card Amount</span>
                                            <input type="text" class="form-control input-sm" name="SalesInvoice.Card_Amount" id="txtCard_Amount" value="@(Model.SalesInvoice.Card_Amount == 0 ? "" : Model.SalesInvoice.Card_Amount.ToString())" @*onchange="javascript: CalculatePaidAmt();"*@ placeholder="Card Amount" maxlength="10" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                       
                            <div class="col-md-3"> 

                                <div class="block">
                                    <h4 style="margin-top: 0px;">Gift Voucher information.</h4>
                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Gift Voucher No</span>
                                        <select class="form-control" id="drpGift_Voucher_No" name="SalesInvoice.Gift_Voucher_Id">
                                            <option value="0">Gift Voucher No</option>

                                            @foreach (var item in Model.GiftVoucherDetails)
                                            {
                                                if (Model.SalesInvoice.Gift_Voucher_Id == item.Gift_Voucher_Id)
                                                {
                                                    <option value="@item.Gift_Voucher_Id" selected="selected">@item.Gift_Voucher_No</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Gift_Voucher_Id">@item.Gift_Voucher_No</option>
                                                }
                                            }

                                        </select>

                                    </div>

                                    <div id="divDebitcardno">
                                        <div class="form-group">
                                            <span class="label label-primary label-form" style="margin-bottom: 2px;">Gift Voucher Amount </span>
                                            <input type="text" class="form-control input-sm" name="SalesInvoice.Gift_Voucher_Amount" id="txtGift_Voucher_Amount" @*onblur="javascript: CalculatePaidAmt();"*@ value="@(Model.SalesInvoice.Gift_Voucher_Amount == 0 ? "" : Model.SalesInvoice.Gift_Voucher_Amount.ToString())" placeholder="Enter Gift Voucher Amount" maxlength="20" />
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="row" style="border-top: 1px solid #DDD; border-bottom: 1px solid #DDD;">

                            @*<div class="col-md-12" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 140px;">*@

                                <div class="block">

                                    <div id="divDebitcardno" class="col-md-3">
                                        <div class="form-group">
                                            <span class="label label-primary label-form" style="margin-bottom: 1px;margin-top:30px;">Paid Amount </span>
                                            <input type="text" class="form-control input-sm" name="SalesInvoice.Paid_Amount" id="txtPaid_Amount" onchange="javascript: CalculateBalAmt();" value="@(Model.SalesInvoice.Paid_Amount == 0 ? "" : Model.SalesInvoice.Paid_Amount.ToString())" placeholder="Paid Amount" maxlength="10" />
                                        </div>
                                    </div>

                                    <div id="divCreditcardno" class="col-md-3">
                                        <div class="form-group">
                                            <span class="label label-primary label-form" style="margin-bottom: 1px;margin-top:30px;">Balance Amount</span>
                                            <input type="text" class="form-control input-sm" name="SalesInvoice.Balance_Amount" id="txtBalance_Amount" value="@(Model.SalesInvoice.Balance_Amount == 0 ? "" : Model.SalesInvoice.Balance_Amount.ToString())" placeholder="Balance Amount" maxlength="10" />
                                        </div>
                                    </div>

                                </div>

                            @*</div>*@

                        </div>



                        <div class="row">
                            <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02);padding-left: 30px; padding-right:0px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 15px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD;">
                                <div class="btn-group">
                                    <button type="button" id="btnSaveSalesOrder" class="btn btn-success">Save</button>
                                    <button type="reset" class="btn btn-danger active" id="btnCancleSalesOrder">Reset</button>
                                </div>
                            </div>

                            <div class="col-md-12" style="padding-top: 40px; padding-left: 10px; padding-right: 10px;">
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </form>

    </div>

</div>
