@model MyLeoRetailer.Models.SalesInvoiceViewModel
@using MyLeoRetailer.Common;
@using MyLeoRetailerInfo.Common;

@{
        ViewBag.Title = "Search";
}


<script src="/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/SalesOrder/salesorder_search_events.js"></script>
<script src="~/Scripts/Modules/SalesOrder/salesorder_search_methods.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li class="active">Sales Invoice</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Sales Invoice</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        

        <div class="col-md-12" style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">

            <div class="block">

                <form role="form" id="frmSearchSalesOrder">

                    <input type="hidden" id="hdnFlag" name="SalesInvoice.Flag" @*value="@Model.SalesInvoice.Flag"*@>

                    <div class="col-md-12" style="padding-top: 0px; padding-left: 10px; padding-right: 10px;">

                        <div class="row">

                            <div class="col-md-3">

                                @{
                                    LoginInfo Cookies = new LoginInfo();
                                    Cookies = Utility.Get_Login_User("MyLeoLoginInfo", "MyLeoToken", "Branch_Ids");

                                    <input type="hidden" id="hdnBranchIDs" value="@Cookies.Branch_Ids" />
                                }

                                <div class="form-group auto-complete">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Sales invoice no</span>
                                    <div class="input-group">
                                        <input type="text" class="form-control invoice-filter autocomplete-text" name="Filter.Sales_Invoice_No" id="txtSalesInvoiceNo" placeholder="Enter Sales Invoice no to search" value="" data-table="Sales_Invoice" data-col="Branch_ID,Sales_Invoice_No" data-param="hdnBranchIDs" data-field="Branch_Id" data-headernames="Sales Invoice No">
                                        <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                        <input type="hidden" id="hdnSalesInvoiceID" name="Filter.Sales_Invoice_Id" class="auto-complete-label" />
                                        <input type="hidden" id="hdnSalesInvoiceNo" name="Filter.Sales_Invoice_No" class="auto-complete-value" />

                                    </div>

                                </div>

                            
            
                            </div>

                            <div class="col-md-9" style="text-align: right; padding-top: 20px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">

                                <div class="btn-group">
                                    @*<button type="button" id="btnCreate" class="btn btn-success active">Create</button>*@
                                    <a class="btn btn-success active" role="button" href="@Url.Action("Index", "SalesOrder")">Create </a>
                                    <button role="button" href="@Url.Action("Invoice", "SalesOrder")" class="btn btn-info active edit" id="btnPrint">Print</button>
                                    <button role="button" href="@Url.Action("Invoice", "SalesOrder")" class="btn btn-danger active edit" id="btnView">View</button>
                                </div>

                            </div>

                        </div>
                    </div>

                </form>

            </div>

        </div>


        <div class="col-md-12" style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">

        </div>



        <div class="col-md-12" style="padding: 0px;" id="divDynamicTable">

        </div>

        <div class="col-md-12" style="padding: 0px;text-align:center;" id="divSalesOrderPager">

        </div>

    </div>

</div>
