@model MyLeoRetailer.Models.PurchaseOrderRequestViewModel

<script src="~/Scripts/Modules/PurchaseOrderRequest/purchaseorderrequest_events.js"></script>
<script src="~/Scripts/Modules/PurchaseOrderRequest/purchaseorderrequest_methods.js"></script>
<script src="~/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/PurchaseOrderRequest/purchaseorderrequest_validation.js"></script>
<style>
    .input-group-addon {
        background-color: #33414e !important;
        color: #fff !important;
    }
    </style>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Function Module</a></li>
    <li class="active">Purchase Order Requets Management</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="col-md-12">
            <div class="page-title">
                <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Purhase Order Requets Management</h2>
            </div>
            <button class="btn btn-danger pull-right" onclick="location.href='@Url.Action("Search", "PurchaseOrderRequest")'"><i class="fa fa-angle-double-left"></i> BACK</button>
            </div>
        </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <form role="form" id="frmPurchaseOrderRequest">

        <div class="row">
            @*Added by vinod Mane on 03/10/2016*@
            <div class="col-md-4" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 130px;">
            <div class="block">
                <h4 style="margin-top: 0px;">Branch Details.</h4>

                <div class="form-group auto-complete">
                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Branch Name.</span>
                    <div class="input-group">
                        <input type="text" class="form-control autocomplete-text" id="textBrand" name="Branch" placeholder="Branch name" value="" data-table="Branch" data-col="Branch_ID,Branch_Name" data-headernames="Branches" data-param="hdnCookiesBranches" data-field="Branch_ID" />
                        <span class="input-group-addon"><a href="#" class="text-muted" id="hrefDealer" role="button"><i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                        <input type="hidden" id="hdnBranch_Id" value="" name="PurchaseOrderRequest.Branch_Id" class="auto-complete-value" />
                        <input type="hidden" id="hdnBranch_Name" value="" name="PurchaseOrderRequest.Branch_Name" class="auto-complete-label" />
                    </div>
                </div>

            </div>
            </div>
            @*End*@

            <div class="col-md-14" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 130px;">

                <input type="hidden" class="form-control input-sm" name="PurchaseOrderRequest.Purchase_Order_Request_Id" id="hdf_Purchase_Order_Request_Id" value="@Model.PurchaseOrderRequest.Purchase_Order_Request_Id" />

                <h4 style="margin-top: 0px;">Vendor details.</h4>

                <input type="hidden" id="hdf_Vendor_Id" />



                <!-- This should be an auto complete field / lookup field like Krypton with search filter / dropdown field -->
                <div class="form-group col-md-4">
                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Vendor name.</span>
                    <select class="form-control select" name="PurchaseOrderRequest.Vendor_Id" onchange="Set_Vendor_Id(this.value)">
                        <option value="">Select Vendor</option>
                        @foreach (var item in Model.PurchaseOrderRequest.Vendors)
                        {
                            if (Model.PurchaseOrderRequest.Vendor_Id == item.Vendor_Id)
                            {
                                <option value="@item.Vendor_Id" selected="selected">@item.Vendor_Name</option>
                            }
                            else
                            {
                                <option value="@item.Vendor_Id">@item.Vendor_Name</option>
                            }
                        }
                    </select>
                </div>

            </div>

        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="block" style="margin-bottom: 0px; margin-top: 15px;">

                    <h4 style="margin-top: 0px;">Add / Update Purchase order base details.</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3" style="border-bottom: 1px solid #DDD; padding: 0px 10px 10px 10px; height: 90px;">

                <div class="block">

                    <!-- This should be an auto complete field / lookup field like Krypton with search filter / dropdown field -->
                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Size group.</span>
                        <select class="form-control " id="drpSize_Group" name="PurchaseOrderRequest.Size_Group_Id" onchange="Show_Button()">
                            <option value="">Select Size Group</option>
                            @foreach (var item in Model.PurchaseOrderRequest.SizeGroups)
                            {
                                if (Model.PurchaseOrderRequest.Size_Group_Id == item.Size_Group_Id)
                                {
                                    <option value="@item.Size_Group_Id" selected="selected">@item.Size_Group_Name</option>
                                }
                                else
                                {
                                    <option value="@item.Size_Group_Id">@item.Size_Group_Name</option>
                                }
                            }
                        </select>
                    </div>

                </div>

            </div>

            <div class="col-md-9" style="border-bottom: 1px solid #DDD; padding: 0px 10px 10px 10px; height: 90px;">

                <div class="block" style="margin-top:26px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success active" id="btnAddSizesPurchaseOrderRequest" disabled>Add Sizes</button>
                    </div>
                </div>
            </div>

            <div class="col-md-3" hidden>

                <div class="block">

                    <!-- This should be an auto complete field / lookup field like Krypton with search filter / dropdown field -->
                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Color.</span>
                        <select class="form-control select" id="drpColor" name="PurchaseOrder.Colour_Id">
                            <option value="">Select Color</option>
                        </select>
                    </div>

                </div>

            </div>
        </div>

        <div class="row Details">

            <div class="col-md-3" style="border-bottom: 1px solid #DDD; padding: 0px 10px 10px 10px; height: 180px;">

                <div class="block">
                    <!-- This should be an auto complete field / lookup field like Krypton with search filter / dropdown field -->
                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Article No.</span>
                        <select class="form-control " id="drpArticle_No" name="PurchaseOrderRequest.Article_No" >
                            <option value="">Select Article No.</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Center size.</span>
                        <select class="form-control " id="drpCenter_Size" name="PurchaseOrderRequest.Center_Size">
                            <option value="">Select Center Size</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="border-bottom: 1px solid #DDD; padding: 0px 10px 10px 10px; height: 180px;">

                <div class="block">
                    <!-- This should be an auto complete field / lookup field like Krypton with search filter / dropdown field -->
                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Brand.</span>
                        <select class="form-control " id="drpBrand" name="PurchaseOrderRequest.Brand_Id">
                            <option value="">Select Brand</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Base rate.</span>
                        <input type="text" class="form-control" name="PurchaseOrderRequest.Purchase_Price" value="@(Model.PurchaseOrderRequest.Purchase_Price == 0 ? "" : Model.PurchaseOrderRequest.Purchase_Price.ToString())" id="textPurchase_Price" placeholder="Enter base rate." maxlength="5" />
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="border-bottom: 1px solid #DDD; padding: 0px 10px 10px 10px; height: 180px;">

                <div class="block">

                    <!-- This should be an auto complete field / lookup field like Krypton with search filter / dropdown field -->
                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Category.</span>
                        <select class="form-control " id="drpCategory" name="PurchaseOrderRequest.Category_Id" onchange="Set_Sub_Category_Drp_Id(this.value)">
                            <option value="">Select Category</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Size difference.</span>
                        <input type="text" class="form-control" name="PurchaseOrderRequest.Size_Difference" value="@(Model.PurchaseOrderRequest.Size_Difference == 0 ? "" : Model.PurchaseOrderRequest.Size_Difference.ToString())" id="textSize_Difference" placeholder="Enter size difference." maxlength="5" />
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="border-bottom: 1px solid #DDD; padding: 0px 10px 10px 10px; height: 180px;">

                <div class="block">
                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Subcategory.</span>
                        <select class="form-control " id="drpSubCategory" name="PurchaseOrderRequest.SubCategory_Id">
                            <option value="">Select Sub Category</option>
                        </select>
                    </div>

                    <div class="block" style="margin-top:20px;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success active" id="btnAddDetailsPurchaseOrderRequest">Add Details</button>
                            <button type="button" class="btn btn-danger active" id="btnResetPurchaseOrderRequest">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-12 table-responsive">

                <table class="table table-bordered table-hover" style="width:3000px; max-width:none;" id="tblPurchaseOrderRequestItems">
                    <thead>
                        <tr>
                            <th style="width:100px;">Article No.</th>
                            <th style="width:150px;">Color</th>
                            <th style="width:150px;">Brand</th>
                            <th style="width:150px;">Category</th>
                            <th style="width:150px;">Subcategory</th>
                            <th style="width:150px;">Size group</th>
                            <th style="width:80px;">Start size</th>
                            <th style="width:80px;">End size</th>
                            <th style="width:80px;">1</th>
                            <th style="width:80px;">2</th>
                            <th style="width:80px;">3</th>
                            <th style="width:80px;">4</th>
                            <th style="width:80px;">5</th>
                            <th style="width:80px;">6</th>
                            <th style="width:80px;">7</th>
                            <th style="width:80px;">8</th>
                            <th style="width:80px;">9</th>
                            <th style="width:80px;">10</th>
                            <th style="width:80px;">11</th>
                            <th style="width:80px;">12</th>
                            <th style="width:80px;">13</th>
                            <th style="width:80px;">14</th>
                            <th style="width:80px;">15</th>
                            <th style="width:100px;">Total qty.</th>
                            <th style="width:100px;">Center size</th>
                            <th style="width:100px;">Base rate</th>
                            <th style="width:100px;">Size diff.</th>
                            <th style="width:100px;">Total amt.</th>
                            <th style="width:auto;">Comment</th>
                            <th style="width:180px;">Actions</th>
                        </tr>
                    </thead>

                    <tbody></tbody>
                </table>

                <table class="table table-bordered table-hover" style="width:3000px; max-width:none;" id="tblPurchaseOrderRequestCalculation">
                    <tbody>
                        <tr style="background: rgba(0, 0, 0, 0.02);">
                            <td style="width:100px;"></td>
                            <td style="width:150px;"></td>
                            <td style="width:150px;"></td>
                            <td style="width:150px;"></td>
                            <td style="width:150px;"></td>
                            <td style="width:150px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:80px;"></td>
                            <td style="width:60px;"></td>
                            <td style="text-align:right; width:100px;">Total quantity.</td>
                            <td style="width:100px;">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;" id="tdTotalQuantity">0</span>
                                <input type="hidden" id="hdnTotalQuantity" name="PurchaseOrderRequest.Total_Quantity" />
                            </td>
                            <td style="width:100px;"></td>
                            <td style="width:100px;"></td>
                            <td style="text-align:right; width:100px;">Net Amount.</td>
                            <td id="" style="width:100px;">
                                <span class="label label-primary label-form" style="margin-bottom: 1px;" id="tdNetAmount">0</span>
                                <input type="hidden" id="hdnNetAmount" name="PurchaseOrderRequest.Net_Amount" />
                            </td>
                            <td style="width:auto;"></td>
                            <td style="width:180px;"></td>
                        </tr>


                    </tbody>
                </table>
                <label id="hdnrecords_Validation" style="display:none"><span style="color:red" id="records_Message"></span></label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02); padding-left: 20px; padding-right: 0px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 15px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD;">

                <div class="btn-group">
                    <button type="button" class="btn btn-success active" id="btnSavePurchaseOrderRequest">Save</button>
                    <button type="reset" class="btn btn-danger active" id="btnCanclePurchaseOrderRequest">Cancel</button>
                </div>

            </div>
        </div>
    </form>

</div>