@model MyLeoRetailer.Models.ProductViewModel
@using MyLeoRetailerInfo.Common
 

<script src="~/Scripts/Modules/Product/Product_events.js"></script>
<script src="~/Scripts/Modules/Product/Product_methods.js"></script>
<script src="~/Scripts/Modules/Product/product_validation.js"></script>
<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">Product Management</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Product Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap" >
    <form role="form" id="frmProduct">
        <div class="row" style="background: rgba(0, 0, 0, 0.02); ">

            <div class="col-md-3" style="">

                <div class="block">

                    <h4 style="margin-top: 15px;">Primary detail.</h4>

                    @*<form role="form">*@

                    <div class="form-group">

                        <input type="text" id="txtArticle_No" class="form-control" placeholder="Enter article number." name="Product.Article_No" value="@Model.Product.Article_No" />
                        <input type="hidden" id="hdn_ProductId" class="form-control" name="Product.Product_Id" value="@Model.Product.Product_Id" />
                    </div> 

                    <div id="dvVendor" class="form-group auto-complete">
                        <div class="input-group">
                            <input type="text" class="form-control autocomplete-text lookup-text" id="txtVendor_Name" value="@(Model.Product.Vendor_Id == 0 ? "" : Model.Product.Vendor_Id.ToString())" placeholder="Enter vendor" data-table="Vendor" data-col="Vendor_Id,Vendor_Name" data-headernames="Vendor">
                            <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                            <input type="hidden" id="hdnVendorId" value="@Model.Product.Vendor_Id" name="Product.Vendor_Id" class="auto-complete-value" />
                            <input type="hidden" id="hdnVendorName" value="@Model.Product.Vendor_Name" name="Product.Vendor_Name" class="auto-complete-label" />
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Launch date.</span>
                        <div class="input-group date" id="dp-2" data-date="05-07-2014" data-date-format="dd-mm-yyyy">
                            <input type="text" class="form-control datepicker" name="Product.Launch_Start_Date" readonly value="@((Model.Product.Launch_Start_Date == DateTime.MinValue ? "" : Model.Product.Launch_Start_Date.ToString("dd-MM-yyyy")))" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">End date.</span>
                        <div class="input-group date" id="dp-2" data-date="05-07-2014" data-date-format="dd-mm-yyyy">
                            <input type="text" class="form-control datepicker" name="Product.Launch_End_Date" readonly value="@((Model.Product.Launch_End_Date == DateTime.MinValue ? "" : Model.Product.Launch_End_Date.ToString("dd-MM-yyyy")))" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                    <div class="form-group"> 
                        <textarea class="form-control" placeholder="Enter Comment." name="Product.Comment">@Model.Product.Comment</textarea>
                    </div>
                </div>

            </div>

            <div class="col-md-3" style="">

                <div class="block">

                    <h4 style="margin-top: 15px;">Association detail.</h4>
                     
                    <div id="dvBrand" class="form-group auto-complete">
                        <div class="input-group">
                            <input type="text" class="form-control autocomplete-text lookup-text" value="@(Model.Product.Brand_Id == 0 ? "" : Model.Product.Brand_Id.ToString())" id="txtBrand_Name" placeholder="Enter brand to search" data-table="Brand" data-col="Brand_Id,Brand_Name" data-headernames="Brand">
                            <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                            <input type="hidden" id="hdnBrandId" value="@Model.Product.Brand_Id" name="Product.Brand_Id" class="auto-complete-value" />
                            <input type="hidden" id="hdnBrandName" value="@Model.Product.Brand_Name" name="Product.Brand_Name" class="auto-complete-label" />
                        </div>
                    </div>
                     
                    <div id="dvCatergory" class="form-group auto-complete">
                        <div class="input-group">
                            <input type="text" class="form-control autocomplete-text lookup-text" value="@(Model.Product.Category_Id == 0 ? "" : Model.Product.Category_Id.ToString())" id="txtCategory_Name" placeholder="Enter category" data-table="Category" data-col="Category_Id,Category" data-headernames="Category">
                            <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                            <input type="hidden" id="hdnCategoryId" value="@Model.Product.Category_Id" name="Product.Category_Id" class="auto-complete-value" />
                            <input type="hidden" id="hdnCategoryName" value="@Model.Product.Category" name="Product.Category" class="auto-complete-label" />
                        </div>
                    </div>

                    <div id="dvSubC" class="form-group auto-complete">
                        <div class="input-group">
                            <input type="text" class="form-control autocomplete-text lookup-text" id="txtSub_Category" value="@(Model.Product.Sub_Category_Id == 0 ? "" : Model.Product.Sub_Category_Id.ToString())" placeholder="Enter sub-category" data-table="Sub_Category" data-col="Sub_Category_Id,Sub_Category" data-headernames="Sub_Category">
                            <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                            <input type="hidden" id="hdnSubcategoryId" value="@Model.Product.Sub_Category_Id" name="Product.Sub_Category_Id" class="auto-complete-value" />
                            <input type="hidden" id="hdnSubcategoryName" value="@Model.Product.Sub_Category" name="Product.Sub_Category" class="auto-complete-label" />
                        </div>
                    </div>
                    @*</form>*@
                </div> 
            </div>

            <div class="col-md-3" style="">

                <div class="block">

                    <h4 style="margin-top: 15px;">Attibutes.</h4> 
                  
                    <div id="dvSizeG" class="form-group auto-complete">
                        <div class="input-group">
                            <input type="text" class="form-control autocomplete-text lookup-text" id="txtSize_Group_Name" value="@(Model.Product.Size_Group_Id == 0 ? "" : Model.Product.Size_Group_Id.ToString())" placeholder="Enter Size GroupName" data-table="Size_Group" data-col="Size_Group_Id,Size_Group_Name" data-headernames="Size_Group">
                            <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                            <input type="hidden" id="hdnSizeGroupId" value="@Model.Product.Size_Group_Id" name="Product.Size_Group_Id" class="auto-complete-value" />
                            <input type="hidden" id="hdnSizeGroupName" value="@Model.Product.Size_Group_Name" name="Product.Size_Group_Name" class="auto-complete-label" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtCenter_Size" style="color: #333" class="">Center Size</label>
                        <input type="text" class="form-control input-sm" name="Product.Center_Size" id="txtCenter_Size" value="@Model.Product.Center_Size" placeholder="Enter Center Size" />
                        
                    </div>

                    @*</form>*@
                </div>

            </div>

            <div class="col-md-3">

                <div class="block">

                    <h4 style="margin-top: 15px;">Price configuration.</h4>

                    @*<form role="form">*@


                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter size difference." name="Product.Size_Difference" value="@(Model.Product.Size_Difference == 0 ? "" : Model.Product.Size_Difference.ToString())" />

                    </div>

                    @*<div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter purchase price." name="Product.Purchase_Price" value="@(Model.Product.Purchase_Price == 0 ? "" : Model.Product.Purchase_Price.ToString())" />

                    </div>*@

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter MRP difference." name="Product.MRP_Difference" value="@(Model.Product.MRP_Difference == 0 ? "" : Model.Product.MRP_Difference.ToString())" />

                    </div>

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter MRP (in percentage)." name="Product.MRP_Percentage" value="@(Model.Product.MRP_Percentage == 0 ? "" : Model.Product.MRP_Percentage.ToString())" />

                    </div>

                    @*<div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter MRP price." name="Product.MRP_Price" value="@(Model.Product.MRP_Price == 0 ? "" : Model.Product.MRP_Price.ToString())" />

                    </div>*@


                    @*</form>*@
                </div>

            </div>
        </div>
            <div class="row">

                <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; border-top: 1px solid #DDD; height: 223px; ">

                    <div class="block">

                        <h4 style="margin-top: 15px;">Upload Product image.</h4>
 
                        <div class="form-group">

                            <input type="file" id="myFile" >

                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-success active" id="btnUploadImage">Upload</button> 
                        </div>
                     
                    </div>

                </div>

                <div class="col-md-9" id="dvProductImg" style="background: rgba(0, 0, 0, 0.02); border-top: 1px solid #DDD;">

                    <div class="gallery" id="links">

                        <a class="gallery-item" href="assets/images/gallery/nature-1.jpg" title="Nature Image 1" data-gallery>
                            <div class="image">
                                <img src="/UploadedFiles/" id="img_0" alt="Product image 1" /> 
                                <ul class="gallery-item-controls">
                                    <li><label class="check"><input type="radio" class="iradio-list" /></label></li>
                                    <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                </ul>
                            </div>
                            <div class="meta">
                                <strong>Nature image 1</strong>
                                <span>Description</span>
                            </div>
                        </a>

                        <a class="gallery-item" href="assets/images/gallery/music-1.jpg" title="Music picture 1" data-gallery>
                            <div class="image">
                                <img src="/UploadedFiles/" id="img_1" alt="Product image 2" />
                                <ul class="gallery-item-controls">
                                    <li><label class="check"><input type="checkbox" class="icheckbox" /></label></li>
                                    <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                </ul>
                            </div>
                            <div class="meta">
                                <strong>Music picture 1</strong>
                                <span>Other description</span>
                            </div>
                        </a>

                        <a class="gallery-item" href="assets/images/gallery/girls-1.jpg" title="Girls Image 1" data-gallery>
                            <div class="image">
                                <img src="/UploadedFiles/" id="img_2" alt="Product image 3" />
                                <ul class="gallery-item-controls">
                                    <li><label class="check"><input type="checkbox" class="icheckbox" /></label></li>
                                    <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                </ul>
                            </div>
                            <div class="meta">
                                <strong>Girls image 1</strong>
                                <span>Description</span>
                            </div>
                        </a>

                        <a class="gallery-item" href="assets/images/gallery/nature-2.jpg" title="Nature Image 2" data-gallery>
                            <div class="image">
                                <img src="/UploadedFiles/" id="img_3" alt="Product image 4" />
                                <ul class="gallery-item-controls">
                                    <li><label class="check"><input type="checkbox" class="icheckbox" /></label></li>
                                    <li><span class="gallery-item-remove"><i class="fa fa-times"></i></span></li>
                                </ul>
                            </div>
                            <div class="meta">
                                <strong>Nature image 2</strong>
                                <span>Description</span>
                            </div>
                        </a> 
                    </div> 
                </div>
            </div>

            <div class="col-md-12" style="padding-left: 20px; padding-right:0px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 15px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD;">

                <div class="btn-group">
                    <button class="btn btn-success active" id="btnProductSave">Save</button>
                    <button class="btn btn-danger active" id="btnCancel" >Cancel</button>
                    <button type="button" class="btn btn-success active" id="btnProductMRP" style="display:none">Add Product MRP</button>
                </div>

            </div>
       
    </form> 
</div>
