@model MyLeoRetailer.Models.PurchaseReturnViewModel

@{
    Layout = null;
}

<link rel="stylesheet" type="text/css" id="theme" href="../Content/Atlant/css/theme-default.css" />
<script type="text/javascript" src="../Content/Atlant/js/plugins/jquery/jquery.min.js"></script>

<script src="~/Scripts/Modules/PrintThis.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnPrint').click(function () {

            $("#div_non_printable").hide();

            // window.print();

            $('#Div_Print').printThis();

            $("#div_non_printable").show();


        });

        $('#btnSendEmail').click(function () {

            $("#frmPurchaseReturnInvoice").attr("action", "/PurchaseReturn/Send_Purchase_Return_Invoice/");
            $('#frmPurchaseReturnInvoice').attr("method", "POST");
            $('#frmPurchaseReturnInvoice').submit();

        });

    });
</script>

<style>
    img {
        display: block;
        position: relative;
        left: 50%;
    }

    .input-group-addon {
        background-color: #33414e !important;
        color: #fff !important;
    }
</style>

@{Html.RenderPartial("_Message");}
<div class="content-wrapper">

    <div class="container-fluid">

        <form id="frmPurchaseReturnInvoice">
            <section class="content">
                <div class="row">
                    <div id="divScrollContainer" class="col-md-12">
                        <br />
                        <br />

                        @*<h2>Purchase Order Invoice</h2>*@

                        <div class="box box-default" id="Div_Print">
                            <div class="box-body">

                                <div class="row">
                                    <div class="invoice-col" style="float: left;">
                                        <img src="@Model.PurchaseReturn.Logo_Path" width="42" height="42">
                                    </div><!-- /.col -->

                                </div>

                                <div class="row">

                                    <div class="col-md-10 invoice-col" style="text-align:center; width:1200px;">
                                        <div class="form-group">

                                            <div class="form-group">
                                                @*<label for="txtStore_Name" style="color: #333" class=""><b>MyLeo</b></label>*@
                                                <h3>@Model.PurchaseReturn.Company_Name</h3>

                                                @*<br />*@
                                                @*<label for="txtStore_Address1" style="color: #333" class="">Company Address1</label>*@
                                                <h5>@Model.PurchaseReturn.Company_Address</h5>

                                                @*<br />*@
                                                @*<label for="txtStore_Address2" style="color: #333" class="">Company Address2</label>*@
                                                @*<br />*@

                                                <h5> <b>PURCHASE RETURN</b></h5>

                                            </div>
                                        </div><!-- /.col -->

                                    </div>
                                </div>

                                <h2 class="page-header div-border-bottom"></h2>
                                <input type="hidden" name="PurchaseReturn.Purchase_Return_Id" value="@Model.PurchaseReturn.Purchase_Return_Id" />
                                <div class="row">
                                    <div class="col-md-4 invoice-col">
                                        <div class=" form-group">
                                            <div class=" form-group">
                                                <label for="Vendor_Name" style="color: #333" class="">@Model.PurchaseReturn.Vendor_Name</label>
                                                <br />

                                                <label for="Vendor_Address1" style="color: #333" class="">@Model.PurchaseReturn.Vendor_Address</label>
                                                <br />

                                                <label for="Vendor_Address2" style="color: #333" class="">@Model.PurchaseReturn.Vendor_Phone1</label>
                                                <br />

                                                <label for="Vendor_Address3" style="color: #333" class="">@Model.PurchaseReturn.Vendor_Phone2</label>
                                                <br />

                                                <label for="Vendor_Contact1" style="color: #333" class="">@Model.PurchaseReturn.Vendor_Email1</label>

                                            </div>

                                        </div>

                                    </div><!-- /.col -->

                                    <div class="col-md-4 invoice-col">
                                        <div class=" form-group">

                                        </div>
                                    </div><!-- /.col -->

                                    <div class="col-md-4 invoice-col " style="text-align:left">

                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="35%">
                                                        Debit Note No.
                                                    </th>

                                                    <td>@Model.PurchaseReturn.Debit_Note_No</td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Purchase Invoice No.
                                                    </th>
                                                    <td>@Model.PurchaseReturn.Purchase_Invoice_No</td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Date
                                                    </th>
                                                    <td>@(Model.PurchaseReturn.Purchase_Return_Date == DateTime.MinValue ? "" : Convert.ToDateTime(Model.PurchaseReturn.Purchase_Return_Date).ToString("dd/MM/yyyy"))</td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Logistic Person
                                                    </th>
                                                    <td>@Model.PurchaseReturn.Logistics_Person_Name</td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        Transport
                                                    </th>
                                                    <td>@Model.PurchaseReturn.Transporter_Name</td>
                                                </tr>
                                                <tr>
                                                    <th>
                                                        LR No.
                                                    </th>
                                                    <td>@Model.PurchaseReturn.Lr_No</td>

                                                </tr>
                                            </thead>
                                        </table>
                                    </div>


                                    <!-- Table row -->
                                    <div class="row">
                                        <div class="col-xs-12 table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th style="width:150px;">SKU No.</th>
                                                        <th style="width:70px;">Article No.</th>
                                                        <th style="width:70px;">Color</th>
                                                        <th style="width:100px;">Brand</th>
                                                        <th style="width:100px;">Category</th>
                                                        <th style="width:100px;">Sub Category</th>
                                                        <th style="width:100px;">Size Group</th>
                                                        <th style="width:60px;">Size</th>
                                                        <th style="width:60px;">Quantity</th>
                                                        <th style="width:60px;">WSR</th>
                                                        <th style="width:60px;">Total Amount</th>    
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{

                                                        if (Model.PurchaseReturn.PurchaseReturns.Count > 0)
                                                        {

                                                            foreach (var item in Model.PurchaseReturn.PurchaseReturns)
                                                            {   
                                                                <tr>
                                                                    <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.SKU_Code</span></td>
                                                                    <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.Article_No</span></td> 
                                                                    <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.Color</span></td>   
                                                                    <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.Brand</span></td>   
                                                                    <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.Category</span></td>   
                                                                    <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.SubCategory</span></td>   
                                                                    <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.Size_Group_Name</span></td>   
                                                                    <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.Size_Name</span></td>   
                                                                    <td>@item.Quantity</td>
                                                                    <td>@item.WSR_Price</td>
                                                                    <td>@item.Amount</td>
                                                                </tr>
                                                            }
                                                        }
                                                        <tr></tr>
                                                    }

                                                    @{
                                                        <tr>
                                                            <th colspan="14" style="text-align: left;"> Remark : @*@Model.PurchaseReturn.Comment*@ </th>
                                                            <th colspan="2" style="text-align: left;"> Total : </th>
                                                            <th colspan="1" style="text-align: left;"> @Model.PurchaseReturn.Total_Quantity </th>
                                                            <th colspan="3" style="text-align: left;"></th>
                                                            <th colspan="1" style="text-align: left;"> @Model.PurchaseReturn.Net_Amount </th>
                                                            @*<th colspan="5" style="text-align: right;"> @Model.PurchaseReturn.PurchaseReturns.Sum(a => a.Total_Amount) </th>*@

                                                        </tr>

                                                        <tr>
                                                            <th colspan="21" style="text-align: left;">Amount(In words): @Model.PurchaseReturn.Total_Amount_In_Word </th>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                    <!-- this row will not appear when printing -->

                                </div>
                            </div>
                        </div>

                        <div class="row" id="div_Non_Printable">
                            <div class="btn-group">

                                <button type="button" id="btnPrint" class="btn btn-default bg-orange">Print</button>

                                @*<a class="btn btn-default bg-blue" role="button" id="btnSendEmail" href="@Url.Action("Send_Purchase_Return_Invoice", "PurchaseReturn")">Send Email</a>*@
                                <button type="button" id="btnSendEmail" class="btn btn-default bg-orange">Send Email</button>

                                <a class="btn btn-default bg-blue" role="button" id="btnBack" href="@Url.Action("Search", "PurchaseReturn")">Back</a>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>

    </div>
</div>

