@using MyLeoRetailer.Common
@using MyLeoRetailerInfo.Common

<script src="/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/Employee/search_employee_event.js"></script>
<script src="~/Scripts/Modules/Employee/search_employee_method.js"></script>

 <!-- START X-NAVIGATION VERTICAL -->
<ul class="x-navigation x-navigation-horizontal">
    <li class="xn-logo">
        <a href="index.html">ATLANT</a>
        <a href="#" class="x-navigation-control"></a>
    </li>
    <li class="xn-openable">
        <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Masters</span></a>
        <ul class="animated zoomIn">
            <li><a href="/Branch/Search"><span class="fa fa-users"></span> Branch Management</a></li>
            <li><a href="/Employee/Search"><span class="fa fa-user"></span> Employee Management</a></li>
            <li><a href="/Role/Index"><span class="fa fa-image"></span> Role Management</a></li>
            <li><a href="/Brand/Index"><span class="fa fa-users"></span> Brand Management</a></li>
            <li><a href="/Category/Index"><span class="fa fa-users"></span> Category Management</a></li>
            <li><a href="/Color/Index"><span class="fa fa-users"></span> Color Management</a></li>
            <li><a href="/Size/Index"><span class="fa fa-users"></span> Size Management</a></li>     
            <li><a href="/Tax/Index"><span class="fa fa-users"></span> Tax Management</a></li>        
            <li><a href="/Customer/Search"><span class="fa fa-users"></span> Customer Management</a></li>
            <li><a href="/Vendor/Search"><span class="fa fa-users"></span> Vendor Management</a></li>
            <li><a href="/VendorContact/Search"><span class="fa fa-users"></span> Vendor Contact Management</a></li>
            <li><a href="/Product/Search"><span class="fa fa-users"></span> Product Management</a></li>
            <li><a href="/ProductWarehouse/Search"><span class="fa fa-users"></span> Warehouse</a></li>
            @*<li><a href="/Replacement/Search"><span class="fa fa-users"></span> Replacement</a></li>*@ @*commented bya aditya as pre sanket instruction 26092016*@
        </ul>
    </li>
    @*Addition by swapnali | Date:14/09/2016*@
    <li class="xn-openable">
        <a href="/Employee/ChangeBranch"><span class="fa fa-map-marker"></span> <span class="xn-text">Change Branch</span></a>
    </li>
    @*End*@

    <li class="xn-openable">
        <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Transactions</span></a>
        <ul class="animated zoomIn">
            <li><a href="/PurchaseOrder/Search"><span class="fa fa-users"></span> Purchase Order </a></li>
            <li><a href="/PurchaseOrderRequest/Search"><span class="fa fa-users"></span> Purchase Order Request </a></li>
            <li><a href="/PurchaseReturn/Search"><span class="fa fa-users"></span> Purchase Return </a></li>
            <li><a href="/purchase-return-request/get-purchase-return-request"><span class="fa fa-users"></span> Purchase Return Request</a></li>
            <li><a href="/PurchaseInvoice/Search"><span class="fa fa-users"></span> Purchase Invoice </a></li>
            <li><a href="/SalesOrder/Search"><span class="fa fa-users"></span> Sales Invoice</a></li>
            <li><a href="/SalesReturn/Search"><span class="fa fa-users"></span> Sales Return </a></li>
            <li><a href="/GiftVoucher/Search"><span class="fa fa-users"></span> Gift Voucher Management</a></li>
            <li><a href="/Alteration/Search"><span class="fa fa-users"></span> Alteration Management</a></li>
            <li><a href="/Payable/Index"><span class="fa fa-users"></span>Payable</a></li>
            <li><a href="/Receivable/Index"><span class="fa fa-users"></span>Receivable</a></li>
        </ul>
    </li>

    @*Added by Vinod Mane on 29/09/2016*@
    <li class="xn-openable">
        <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Reports</span></a>
        <ul class="animated zoomIn">
            <li><a href="/SalesOrder/Report"><span class="fa fa-users"></span> Sales </a></li>
            <li><a href="/Inventory/Search"><span class="fa fa-users"></span> Inventory </a></li>
        </ul>
    </li>
    @*End*@

    <!-- SIGN OUT -->
    <li class="xn-icon-button pull-right">
        <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
    </li>
    <!-- END SIGN OUT -->

    @{
        LoginInfo Cookies = new LoginInfo();
        Cookies = Utility.Get_Login_User("MyLeoLoginInfo", "MyLeoToken", "Branch_Ids");
    <!-- TASKS -->
    <li class="xn-icon-button pull-right">
        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Change Branch"><span class="fa fa-map-marker"></span></a>
        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging" style="width: 220px;">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="fa fa-tasks"></span> Branches</h3>
            </div>
            <div class="panel-body list-group scroll" style="width: 220px; height: 135px; overflow: auto;">
                <div class="page-content-wrap">

                    <form role="form" id="frmChangeBranch">
                        <div class="row">
                            @**@

                            <div class="table-responsive">
                                <table class="table table-hover" style="margin-bottom: 0;">
                                    <tbody>
                                        @{int counter = 0;}

                                        @foreach (var result in Cookies.Branch_List)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="hidden" id="EmployeeBranchId-@result.Branch_Id" name="Employee_Branch_List[@counter].Branch_Id" value="@result.Branch_Id" />
                                                    <input type="hidden" id="EmployeeBranchNM-@result.Branch_Id" name="Employee_Branch_List[@counter].Branch_Name" value="@result.Branch_Name" />
                                                    <input type="hidden" class="form-control" id="hdf_EmployeeId" name="Employee.Employee_Id" value="@result.Employee_Id" />
                                                    @result.Branch_Name
                                                </td>

                                                <td>
                                                    <label class="switch">
                                                        @if (@result.Is_Selected == 1)
                                                        {
                                                            <input type="checkbox" class="switch" checked="checked" id="Employee-@result.Branch_Id" name="Employee_Branch_List[@counter].Is_Selected" value="@result.Is_Selected.ToString()" /><span></span>
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" class="switch" id="Employee-@result.Branch_Id" name="Employee_Branch_List[@counter].Is_Selected" value="@result.Is_Selected.ToString()" /><span></span>
                                                        }
                                                    </label>
                                                </td>
                                            </tr>
                                                        ++@counter;
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </form>

                </div>

            </div>
            <div class="panel-footer text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-success active" id="btnSaveBranch">Save</button>
                </div>
            </div>
        </div>
    </li>
    <!-- END TASKS -->

    }



</ul>
<!-- END X-NAVIGATION VERTICAL -->



