@model MyLeoRetailer.Models.Transaction.PurchaseOrderViewModel

<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Purhase Order View</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <form role="form" id="frmPurchaseOrder">

        <div class="row">

            <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 280px;">

                <div class="block">

                    <input type="hidden" class="form-control input-sm" name="PurchaseOrder.Purchase_Order_Id" id="hdf_Purchase_Order_Id" value="@Model.PurchaseOrder.Purchase_Order_Id" />

                    <h4 style="margin-top: 0px;">Primary information.</h4>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Purchase Order No.</span>
                        <input type="text" class="form-control input-sm" name="PurchaseOrder.Purchase_Order_No" id="txtPurchase_Order_No" value="@Model.PurchaseOrder.Purchase_Order_No" />
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Purchase Order Date.</span>
                        <input type="text" class="form-control input-sm" name="PurchaseOrder.Purchase_Order_Date" id="txtPurchase_Order_Date" value="@Model.PurchaseOrder.Purchase_Order_Date.ToShortDateString()" />
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 280px;">

                <div class="block">
                    <h4 style="margin-top: 0px;">Supply time period.</h4>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Start supply date.</span>
                        <input type="text" class="form-control input-sm" name="PurchaseOrder.Start_Supply_Date" id="txtStart_Supply_Date" value="@Model.PurchaseOrder.Start_Supply_Date.ToShortDateString()" />
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Stop supply date.</span>
                        <input type="text" class="form-control input-sm" name="PurchaseOrder.Stop_Supply_Date" id="txtStop_Supply_Date" value="@Model.PurchaseOrder.Stop_Supply_Date.ToShortDateString()" />
                    </div>

                </div>

            </div>

            <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 280px;">

                <div class="block">
                    <h4 style="margin-top: 0px;">Vendor / Transporter details.</h4>

                    <input type="hidden" id="hdf_Vendor_Id" />

                    <!-- This should be an auto complete field / lookup field like Krypton with search filter / dropdown field -->
                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Vendor name.</span>
                        <input type="text" class="form-control input-sm" name="PurchaseOrder.Vendor_Name" id="txtPurchase_Order_No" value="@Model.PurchaseOrder.Vendor_Name" />
                    </div>

                    <!-- This should be an auto complete field / lookup field like Krypton with search filter / dropdown field -->
                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Agent name.</span>
                        <input type="text" class="form-control input-sm" name="PurchaseOrder.Agent_Name" id="txtPurchase_Order_No" value="@Model.PurchaseOrder.Agent_Name" />
                    </div>

                    <!-- This should be an auto complete field / lookup field like Krypton with search filter / dropdown field -->
                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Transporter name.</span>
                        <input type="text" class="form-control input-sm" name="PurchaseOrder.Transporter_Name" id="txtPurchase_Order_No" value="@Model.PurchaseOrder.Transporter_Name" />
                    </div>

                </div>

            </div>

            <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 280px;">

                <div class="block">
                    <h4 style="margin-top: 0px;">Shipping details.</h4>

                    <div class="form-group">

                        @*<textarea class="form-control" rows="5" placeholder="Shipping address."></textarea>*@
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Shipping address.</span>
                        <input type="text" class="form-control input-sm" name="PurchaseOrder.Shipping_Address" id="txtPurchase_Order_No" value="@Model.PurchaseOrder.Shipping_Address" />
                    </div>

                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width:100px;">Article No.</th>
                            <th style="width:150px;">Color</th>
                            <th style="width:150px;">Brand</th>
                            <th style="width:150px;">Category</th>
                            <th style="width:150px;">Subcategory</th>
                            <th style="width:150px;">Size group</th>
                            <th style="width:80px;">Start size</th>
                            <th style="width:80px;">End size</th>
                            <th style="width:80px;">1</th>
                            <th style="width:80px;">2</th>
                            <th style="width:80px;">3</th>
                            <th style="width:80px;">4</th>
                            <th style="width:80px;">5</th>
                            <th style="width:80px;">6</th>
                            <th style="width:80px;">7</th>
                            <th style="width:80px;">8</th>
                            <th style="width:80px;">9</th>
                            <th style="width:80px;">10</th>
                            <th style="width:80px;">11</th>
                            <th style="width:80px;">12</th>
                            <th style="width:80px;">13</th>
                            <th style="width:80px;">14</th>
                            <th style="width:80px;">15</th>
                            <th style="width:100px;">Total qty.</th>
                            <th style="width:100px;">Center size</th>
                            <th style="width:100px;">Base rate</th>
                            <th style="width:100px;">Size diff.</th>
                            <th style="width:100px;">Total amt.</th>
                            <th style="width:auto;">Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            if (Model.PurchaseOrder.PurchaseOrderItems.Count > 0)
                            {

                                foreach (var item in Model.PurchaseOrder.PurchaseOrderItems)
                                {
                                    int colspan = 15;
                                    if (item.sizes.Count > 0)
                                    {
                                        colspan = colspan - item.sizes.Count;
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            @foreach (var itm in item.sizes)
                                            {
                                                <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@itm.Size_Name</span></td>
                                            }
                                        </tr>
                                    }
                                    <tr>
                                        <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.Article_No</span></td>
                                        <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.Colour_Name</span></td>
                                        <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.Brand_Name</span></td>
                                        <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.Category</span></td>
                                        <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.Sub_Category</span></td>
                                        <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.Size_Group_Name</span></td>
                                        <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.Start_Size</span></td>
                                        <td><span style="margin-bottom: 1px;" class="label label-primary label-form">@item.End_Size</span></td>


                                        @if (item.sizes.Count > 0)
                                        {
                                            foreach (var itm in item.sizes)
                                            {
                                                <td>@itm.Quantity1</td>
                                            }
                                        }

                                        <td colspan="@colspan"></td>
                                        <td>@item.Total_Quantity</td>
                                        <td>@item.Center_Size</td>
                                        <td>@item.Purchase_Price</td>
                                        <td>@item.Size_Difference</td>
                                        <td>@item.Total_Amount</td>
                                        <td>@item.Comment</td>
                                    </tr>
                                }
                            }
                            <tr></tr>
                        }

                        @{
                            <tr>
                                <td colspan="23" style="text-align: right;">Total Quantity </td>
                                <td style="text-align: left;">@Model.PurchaseOrder.Total_Quantity</td>

                                <td colspan="3" style="text-align: right;">Total Amount </td>
                                <td style="text-align: left;">@Model.PurchaseOrder.PurchaseOrderItems.Sum(a => a.Total_Amount)</td>
                                <td></td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->

    </form>

</div>