@model MyLeoRetailer.Models.EmployeeViewModel
@using MyLeoRetailerInfo.Common


<script src="~/Content/Atlant/js/plugins/maskedinput/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/Modules/Employee/employee_validation.js"></script>
<script src="~/Scripts/Modules/Employee/employee_events.js"></script>
<script src="~/Scripts/Modules/Employee/employee_methods.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">Employee Management</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Employee Management</h2>
        </div>
       
        <button class="btn btn-danger pull-right" onclick="location.href='@Url.Action("Search", "Employee")'"><i class="fa fa-angle-double-left"></i> BACK</button>
        

    </div>

    </div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <form role="form" id="frmEmployee">

        <div class="row">

            <div class="col-md-4" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 490px;">

                <div class="block">
                    <h4 style="margin-top: 0px;">Basic information.</h4>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter employee name." name="Employee.Employee_Name" value="@Model.Employee.Employee_Name" id="txtEmployee_Name" maxlength="100"/>
                        <input type="hidden" class="form-control" id="hdn_EmployeeId" name="Employee.Employee_Id" value="@Model.Employee.Employee_Id" />
                        @*Added by vinod mane on 27/09/2016*@
                        <input type="hidden" id="hdnEmployee_Name" value="@Model.Employee.Employee_Name" />
                        @*End*@
                    </div>

                    <div class="form-group">
                        <select class="form-control select" name="Employee.Employee_Gender">
                            <option value="0">Select Gender</option>
                            @foreach (var item in LookupInfo.Get_Gender_Types())
                            {
                                if (Model.Employee.Employee_Gender == item.Key)
                                {
                                    <option value="@item.Key" selected="selected">@item.Value</option>
                                }
                                else
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Date of birth.</span>
                        <div class="input-group date" id="dp-2" data-date="" data-date-format="MM-dd-yyyy">
                            <input type="text" class="form-control datepicker" name="Employee.Employee_DOB" value="@((Model.Employee.Employee_DOB == DateTime.MinValue ? "" : Model.Employee.Employee_DOB.ToString("MM-dd-yyyy")))" readonly />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6 col-sm-6 col-md-8" style="padding-left: 0px;">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Set active.</span>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4" style="text-align: right; padding-right: 0px;">
                           <label class="switch">
                                @* @if (Model.Employee.IsActive == false)
                                {
                                    <input value="0" name="Employee.IsActive" type="checkbox">
                                }
                                else
                                {
                                    
                                *@
                                <input value="1" name="Employee.IsActive" checked="checked" type="checkbox">
                              @*  }*@
                                <span></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <select class="form-control select" name="Employee.Designation_Id">
                            <option value="0">Select Designation</option>
                            @foreach (var item in LookupInfo.Get_Employee_Designation())
                            {
                                if (Model.Employee.Designation_Id == item.Key)
                                {
                                    <option value="@item.Key" selected="selected">@item.Value</option>
                                }
                                else
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            }
                        </select>
                    </div>

                </div>

            </div>

            <div class="col-md-4" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 490px;">

                <div class="block">
                    <h4 style="margin-top: 0px;">Address detail.</h4>

                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Residential address." name="Employee.Employee_Address">@Model.Employee.Employee_Address</textarea>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter pincode." maxlength="6" name="Employee.Employee_Pincode" value="@(Model.Employee.Employee_Pincode == 0 ? "" : Model.Employee.Employee_Pincode.ToString())" />
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Native address." name="Employee.Employee_Native_Address">@Model.Employee.Employee_Native_Address</textarea>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter country." name="Employee.Employee_Country" value="@Model.Employee.Employee_Country" maxlength="100" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter state." name="Employee.Employee_State" value="@Model.Employee.Employee_State" maxlength="100" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter city." name="Employee.Employee_City" value="@Model.Employee.Employee_City" maxlength="100" />
                    </div>
                </div>

            </div>

            <div class="col-md-4" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 490px;">

                <div class="block">
                    <h4 style="margin-top: 0px;">Communication detail.</h4>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter mobile number 1." name="Employee.Employee_Mobile1" value="@Model.Employee.Employee_Mobile1" maxlength="12" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter mobile number 2." name="Employee.Employee_Mobile2" value="@Model.Employee.Employee_Mobile2" maxlength="12" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="mask_phone_no form-control" placeholder="Enter landline number." name="Employee.Employee_Home_Lindline"  value="@Model.Employee.Employee_Home_Lindline" />
                    </div>


                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter email address." name="Employee.Employee_EmailId" value="@Model.Employee.Employee_EmailId" maxlength="50" />
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6 col-sm-6 col-md-8" style="padding-left: 0px;">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Set Online.</span>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-4" style="text-align: right; padding-right: 0px;">
                            <label class="switch" id="chkSwitch">
                                @if (Model.Employee.Is_Online == true)
                                {
                                    <input value="@Model.Employee.Is_Online.ToString()" name="Employee.Is_Online" checked type="checkbox">
                                }
                                else
                                {
                                    <input value="@Model.Employee.Is_Online.ToString()" name="Employee.Is_Online" type="checkbox">
                                }
                                <span></span>
                            </label>
                        </div>
                    </div>

                    @if (Model.Employee.Is_Online == true)
                    {
                        <div class="form-group online-field">
                            <input type="text" class="form-control" id="txtUser_Name" placeholder="Enter user name." name="Employee.User_Name" value="@Model.Employee.User_Name" maxlength="50"/>
                        </div>
                    }
                    else
                    {
                        <div class="form-group online-field" style="display:none">
                            <input type="text" class="form-control " id="txtUser_Name" placeholder="Enter user name." name="Employee.User_Name" value="@Model.Employee.User_Name" maxlength="50" />
                        </div>
                    }
                    <input type="hidden" id="hdnUser_Name" value="@Model.Employee.User_Name" />

                    @if (Model.Employee.Is_Online == true)
                    {
                        <div class="form-group online-field">
                            <input type="password" class="form-control " id="txtPassword" placeholder="Enter password." name="Employee.Password" value="@Model.Employee.Password" maxlength="50" />
                        </div>
                    }
                    else
                    {
                        <div class="form-group online-field" style="display:none">
                            <input type="password" class="form-control " id="txtPassword" placeholder="Enter password." name="Employee.Password" value="@Model.Employee.Password" maxlength="50" />
                        </div>
                    }

                    @if (Model.Employee.Is_Online == true)
                    {
                        <div class="form-group online-field">
                            <input type="password" class="form-control " id="txtConfirmPassword" placeholder="Confirm password." name="Confirm_Password" value="@Model.Employee.Password" maxlength="50" />
                        </div>
                    }
                    else
                    {
                        <div class="form-group online-field" style="display:none">
                            <input type="password" class="form-control " id="txtConfirmPassword" placeholder="Confirm password." name="Confirm_Password" value="@Model.Employee.Password" maxlength="50" />
                        </div>
                    }

                    @if (Model.Employee.Is_Online == true)
                    {
                        <div class="form-group online-field">
                            <select class="form-control select" name="Employee.Role_Id" id="drpRole">
                                <option value="">Select Role</option>
                                @foreach (var item in Model.Role_List)
                                {
                                    if (item.Role_Id == Model.Employee.Role_Id)
                                    {
                                        <option selected value="@item.Role_Id">@item.Role_Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Role_Id">@item.Role_Name</option>
                                    }
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <div class="form-group online-field" style="display:none;">
                            <select class="form-control select" name="Employee.Role_Id" id="drpRole">
                                <option value="">Select Role</option>
                                @foreach (var item in Model.Role_List)
                                {
                                    if (item.Role_Id == Model.Employee.Role_Id)
                                    {
                                        <option selected value="@item.Role_Id">@item.Role_Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Role_Id">@item.Role_Name</option>
                                    }
                                }
                            </select>
                        </div>
                    }

                </div>

            </div>

            <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02);padding-left: 20px; padding-right:0px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 15px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD;">

                <div class="btn-group">
                    <button type="button" class="btn btn-success active" id="btnEmployeeSave">Save</button>
                    <button type="button" class="btn btn-danger active" onclick="location.href='@Url.Action("Index", "Employee")'">Cancel</button>
                </div>

            </div>

        </div>
    </form>

</div>

