@model MyLeoRetailer.Models.Transaction.PurchaseReturnRequestViewModel

<script src="~/Scripts/Modules/PurchaseReturnRequest/purchase-return-request-validation.js"></script>
<script src="~/Scripts/Modules/PurchaseReturnRequest/purchase-return-request-event.js"></script>
<script src="~/Scripts/Modules/PurchaseReturnRequest/purchase-return-request-method.js"></script>


<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li class="active">Purchase Return Request</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="col-md-12">
            <div class="page-title">
                <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Purchase Return Request</h2>
            </div>
            <button class="btn btn-danger pull-right" onclick="location.href='@Url.Action("Search", "PurchaseReturnRequest")'"><i class="fa fa-angle-double-left"></i> BACK</button>
            </div>
        </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <form id="frmPurchaseReturnRequest">

            <div class="box box-default">

                <div class="box-body">

                    <div class="row">

                        <div class="col-md-4" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 200px;">
                            <div class="block">
                                <h4 style="margin-top: 0px;">Branch Details.</h4>

                                <div class="form-group auto-complete">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Branch Name.</span>
                                    <div class="input-group">
                                        <input type="text" class="form-control autocomplete-text" id="textBrand" name="Branch" placeholder="Branch name" value="" data-table="Branch" data-col="Branch_ID,Branch_Name" data-headernames="Branches" data-param="hdnCookiesBranches" data-field="Branch_ID" />
                                        <span class="input-group-addon"><a href="#" class="text-muted" id="hrefDealer" role="button"><i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                        <input type="hidden" id="hdnBranch_Id" value="" name="PurchaseReturnRequest.Branch_Id" class="auto-complete-value" />
                                        <input type="hidden" id="hdnBranch_Name" value="" name="PurchaseReturnRequest.Branch_Name" class="auto-complete-label" />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 200px;">
                            <div class="block">
                                <h4 style="margin-top: 0px;">Vendor Details.</h4>

                                <div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Vendor Name.</span>
                                    <select class="form-control select" name="PurchaseReturnRequest.Vendor_Id" id="drpVendor_Id">
                                        <option value="">Select Vendor</option>
                                        @foreach (var item in Model.PurchaseReturnRequest.Vendors)
                                        {
                                            if (Model.PurchaseReturnRequest.Vendor_Id == item.Vendor_Id)
                                            {
                                                <option value="@item.Vendor_Id" selected="selected">@item.Vendor_Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Vendor_Id">@item.Vendor_Name</option>
                                            }
                                        }
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4" style="background: rgba(0, 0, 0, 0.02); border-bottom: 1px solid #DDD; border-right: 1px solid #DDD; padding: 10px; height: 200px;">
                            <div class="block">
                                <h4 style="margin-top: 0px;">Purchase Invoice details.</h4>

                                <input type="hidden" class="form-control input-sm" name="Invoice" id="hdf_Purchase_Invoice_Id">

                                <div class="form-group">
                                    <span class="label label-primary label-form" style="margin-bottom: 1px;">Purchase Invoice No.</span>
                                    <select class="form-control select" id="drpPurchase_Invoice_Id" name="PurchaseReturnRequest.Purchase_Invoice_Id" onchange="Set_Purchase_Invoice_Id(this.value)">
                                        <option value="">Select Invoice No.</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="table-responsive" style="width:100%; margin: 0px 0;">
                            <input type="hidden" id="hdnRowIdspecific" value="0" />
                            <table class="table table-bordered table-hover" id="tblPurchaseReturnRequestItems">
                                <thead>
                                    <tr>
                                        <th style="width:150px;">Barcode No.</th>
                                        <th style="width:150px;">SKU No.</th>
                                        <th style="width:70px;">Article No.</th>
                                        <th style="width:70px;">Color</th>
                                        <th style="width:100px;">Brand</th>
                                        <th style="width:100px;">Category</th>
                                        <th style="width:100px;">Sub Category</th>
                                        <th style="width:100px;">Size Group</th>
                                        <th style="width:60px;">Size</th>
                                        <th style="width:60px;">Quantity</th>
                                        <th style="width:60px;">WSR</th>
                                        <th style="width:60px;">Total Amount</th>
                                        <th style="width:140px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <span generated="true" style="color: #b64645;" class="help-block pull-right" id="lblError"></span>
                                    <tr id="PurchaseReturnRequestItemRow_0">
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Barcode" id="textBarcode_No_0">
                                        </td>
                                        
                                        @*<td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].SKU_Code" id="textSKU_No_0" onchange="javascript: Get_Purchase_Return_Items_By_SKU_Code(0);">
                                            <input type="hidden" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Purchase_Order_Id" id="hdnPurchase_Order_Id_0" />
                                        </td>*@

                                        <td>
                                            <div class="form-group auto-complete">
                                                <div class="input-group">
                                                    <input type="text" class="form-control invoice-filter autocomplete-text" id="textSKU_No_0" placeholder="Enter SKU to search" value="" data-table="Purchase_Invoice_Item" data-col="Purchase_Order_Id,SKU_Code" data-headernames="SKU Code" data-param="hdf_Purchase_Invoice_Id" data-field="Purchase_Invoice_Id" name="SKU_Code_0" />
                                                    <span class="input-group-addon"><a href="#" class="text-muted" id="hrefDealer" role="button"><i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                                    <input type="hidden" id="hdnPurchase_Order_Id_0" value="" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Purchase_Order_Id" class="auto-complete-value" />
                                                    <input type="hidden" id="hdnSKU_No_0" value="" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].SKU_Code" class="auto-complete-label" onchange="javascript:Get_Purchase_Return_Items_By_SKU_Code(0);" />
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Article_No" id="textArticle_No_0" readonly />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Color" id="textColor_0" readonly />
                                            <input type="hidden" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Color_Id" id="hdnColor_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Brand" id="textBrand_0" readonly />
                                            <input type="hidden" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Brand_Id" id="hdnBrand_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Category" id="textCategory_0" readonly />
                                            <input type="hidden" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Category_Id" id="hdnCategory_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].SubCategory" id="textSub_Category_0" readonly />
                                            <input type="hidden" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].SubCategory_Id" id="hdnSubCategory_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Size_Group_Name" id="textSize_Group_Name_0" readonly />
                                            <input type="hidden" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Size_Group_Id" id="hdnSize_Group_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Size_Name" id="textSize_Name_0" readonly />
                                            <input type="hidden" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Size_Id" id="hdnSize_Id_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Quantity" id="textQuantity_0" value="1" onblur="javascript: CalculateTotal();" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].WSR_Price" id="textWSR_Price_0" value="0" readonly />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.PurchaseReturnRequestItems[0].Amount" id="textAmount_0" value="0" readonly />
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type='button' id='addrow-Return-details' class='btn btn-success active' onclick='javascript: AddPurchaseReturnRequestDetails();'>Add Row</button>
                                                <button type='button' id='delete-Return-details' class='btn btn-danger active' onclick='javascript: DeletePurchaseReturnRequestDetailsData(0);'>Delete</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.col -->
                    </div><!-- /.row -->


                    <div class="row">
                        <div class="table-responsive" style="width:100%;">
                            <table class="table table-bordered" id="tblPurchaseReturnRequest">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="8"></td>
                                        <td style="width:80px;">
                                            <label>Total Qty</label>
                                        </td>
                                        <td style="width:80px;">
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.Total_Quantity" readonly value="0" id="textTotalQuantity_0">
                                        </td>
                                        <td style="width:80px;">
                                            <label>Total Amt</label>
                                        </td>
                                        <td style="width:80px;">
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.Total_Amount" readonly value="0" id="textTotalAmount_0">
                                        </td>
                                        <td style="width:140px;"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="9"></td>
                                        <td>
                                            <label>Discount</label>
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.Discount_Percentage" value="0" id="textDiscountPercentage_0">
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.Discount_Amount" value="0" readonly id="textDiscountAmount_0">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="10"></td>
                                        <td>
                                            <label>Gross Amt</label>
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.Gross_Amount" value="0" readonly id="textGrossAmount_0">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="9"></td>
                                        <td>
                                            <label>Tax</label>
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.Tax_Percentage" readonly value="0" id="textTaxPercentage_0" />
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.Tax_Amount" value="0" readonly id="textTaxAmount_0">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="10"></td>
                                        <td>
                                            <label>Round Off</label>
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" readonly value="0.00" name="PurchaseReturnRequest.Round_Off_Amount" id="textRoundOff_0">
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="10"></td>
                                        <td>
                                            <label>NET Amt</label>
                                        </td>
                                        <td>
                                            <input class="form-control input-sm" type="text" name="PurchaseReturnRequest.Net_Amount" value="0" readonly id="textNETAmount_0">
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.col -->
                    </div>


                    <div class="row">
                        <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02);padding-left: 20px; padding-right:0px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 15px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD;">
                            <div class="btn-group">
                                <button type="button" id="btnSaveRequest" class="btn btn-success active">Save</button>
                                <button type="reset" id="btnCancelRequest" class="btn btn-danger active">Cancel</button>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-top: 40px; padding-left: 10px; padding-right: 10px;">
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>