@model MyLeoRetailer.Models.PayableViewModel
@using MyLeoRetailer.Common;
@using MyLeoRetailerInfo.Common;

<script src="~/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/Payable/Payable_Validation.js"></script>
<script src="~/Scripts/Modules/Payable/Payable_events.js"></script>
<script src="~/Scripts/Modules/Payable/Payable_method.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">Pay</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="col-md-12">
            <div class="page-title">
                <h2><span class="fa fa-image"></span>&nbsp;&nbsp; Pay</h2>
            </div>
            <button class="btn btn-danger pull-right" onclick="location.href='@Url.Action("Index", "Payable")'"><i class="fa fa-angle-double-left"></i>BACK</button>
        </div>
    </div>
</div>

<!-- END CONTENT FRAME -->
<div class="page-content-wrap">

    <form role="form" id="frmPay" method="post">

        <div class="row">

            <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 100px;">
                <input type="hidden" id="hdnPayament_Status1" value="@Model.Payable.Payament_Status">

                <div class="block">

                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Total Amount</span>
                            <input type="text" readonly class="form-control input-sm" name="Payable.Total_Amount" id="txtTotal_Amount" value="@(Model.Payable.Total_Amount == 0 ? "" : Model.Payable.Total_Amount.ToString())" placeholder="Total_Amount" />
                            <input type="hidden" id="hdnPurchase_Invoice_Id" name="Payable.Purchase_Invoice_Id" value="@Model.Payable.Purchase_Invoice_Id">
                            <input type="hidden" id="hdnPayable_Item_Id" name="Payable.Payable_Item_Id" value="@Model.Payable.Payable_Item_Id">
                            <input type="hidden" id="hdnPayable_Id" name="Payable.Payable_Id" value="@Model.Payable.Payable_Id">
                            @*<input type="hidden" id="hdnPurchase_Credit_Note_Id" name="Payable.Purchase_Credit_Note_Id" value="@Model.Payable.Purchase_Credit_Note_Id">*@

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Amount due</span>
                            <input type="text" readonly class="form-control input-sm" name="Payable.Balance_Amount" id="txtAmount_due" value="@(Model.Payable.Balance_Amount == 0 ? "" : Model.Payable.Balance_Amount.ToString())" placeholder="Due Amount" />
                            @*<input type="hidden" id="hdnPurchase_Invoice_Id" name="Payable.Purchase_Invoice_Id" value="@Model.Payable.Purchase_Invoice_Id">
                                <input type="hidden" id="hdnPayable_Id" name="Payable.Payable_Id" value="@Model.Payable.Payable_Id">*@

                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 100px;">

                <div class="block">

                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">CN no</span>
                            <select class="form-control" id="drpCredit_Note_No" name="Payable.Purchase_Credit_Note_Id">
                                <option value="0">Select CN no</option>

                                @foreach (var item in Model.CreditNote)
                                {
                                    if (Model.Payable.Purchase_Credit_Note_Id == item.Purchase_Credit_Note_Id)
                                    {
                                        <option value="@item.Purchase_Credit_Note_Id" selected="selected">@item.Credit_Note_No</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Purchase_Credit_Note_Id">@item.Credit_Note_No</option>
                                    }
                                }

                            </select>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">CN amount</span>
                            <input type="text" class="form-control input-sm" name="Payable.Credit_Note_Amount" id="txtCN_amount" value="@(Model.Payable.Credit_Note_Amount == 0 ? "" : Model.Payable.Credit_Note_Amount.ToString())" @*onfocusout="javascript: Calculate_Fianl_Amount_Using_Credit_Note_Amount();"*@ placeholder="Credit Note Amount" readonly />
                            @*<input type="text" class="form-control input-sm" id="hdnChangebleFAmt" value=""  placeholder="Credit Note Amount" />*@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group auto-complete">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Employee</span>
                            <div class="input-group">
                                <input type="text" class="form-control input-sm invoice-filter autocomplete-text" value="@Model.Payable.Employee" name="Payable.Employee" id="textEmployee" placeholder="Enter Employee" value="" data-table="Employee" data-col="Employee_Id,Employee_Name" data-headernames="Employee">
                                <span class="input-group-addon"> <a href="#" class="text-muted" id="hrefDealer" role="button"> <i class="fa fa-search" style="color:#fff;" aria-hidden="true"></i></a></span>
                                <input type="hidden" id="hdnEmpId" value="@Model.Payable.Employee_Id" name="Payable.Employee_Id" class="auto-complete-value" />
                                <input type="hidden" id="hdnEmp" value="@Model.Payable.Employee" name="Payable.Employee" class="auto-complete-label" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 100px;">

                <div class="block">
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Discount%</span>
                            <input type="text" class="form-control input-sm" name="Payable.Discount_Percentage" id="txtDiscount" onfocusout="javascript: Calculate_Fianl_Amount_Using_Discount();" value="@(Model.Payable.Discount_Percentage == 0 ? "" : Model.Payable.Discount_Percentage.ToString())" placeholder="Discount" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Discount amount</span>
                            <input type="text" class="form-control input-sm" name="Payable.Discount_Amount" id="txtDiscount_amount" value="@(Model.Payable.Discount_Amount == 0 ? "" : Model.Payable.Discount_Amount.ToString())" placeholder="Discount Amount" />
                        </div>
                    </div>
                    @*<div class="col-md-4">
                                    <div class="form-group">
                                        <span class="label label-primary label-form" style="margin-bottom: 1px;">Person Name</span>
                                        <input type="text" class="form-control input-sm" name="Payable.Person_Name" id="txtPerson_Name" value="@Model.Payable.Person_Name" placeholder="Enter person name" />
                                    </div>
                        </div>*@

                </div>
            </div>

            <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 100px;">

                <div class="block">

                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Payment date</span>
                            <div class="input-group date" data-date="" data-date-format="MM-dd-yyyy">
                                <input type="text" class="form-control datepicker" id="txtPayament_Date" name="Payable.Payament_Date" value="@((Model.Payable.Payament_Date == DateTime.MinValue ? "" : Model.Payable.Payament_Date.ToString("MM-dd-yyyy")))" readonly />
                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Payment mode</span>
                            <select class="form-control" id="drpPayment_Mode" name="Payable.Payment_Mode" >
                                <option value="0">Select Payment mode</option>

                                @foreach (var item in LookupInfo.Get_Payable_Payment_Mode())
                                {

                                    if (Model.Payable.Payment_Mode == item.Key)
                                    {
                                        <option value="@item.Key" selected="selected">@item.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }

                                }

                            </select>

                        </div>
                    </div>

                    <div id="divPaidAmount" style="display:none" class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Paid Amount</span>
                            <input type="text" class="form-control input-sm" name="Payable.Paid_Amount" id="txtPaid_Amount" value="@(Model.Payable.Paid_Amount == 0 ? "" : Model.Payable.Paid_Amount.ToString())" onfocusout="javascript: FinalAmount();" placeholder=" Enter Paid amount" />
                            <label style="color: #b64645; display:none;" class="help-block pull-left" id="lblPaidPriceError">Please enter amount less than final amount.</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 100px;">

                <div class="block">

                    <div id="divCreditcardno" style="display:none" class="col-md-4  ">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Credit card no</span>
                            <input type="text" class="form-control input-sm" name="Payable.Credit_Card_No" id="txtCredit_card_no" value="@Model.Payable.Credit_Card_No" placeholder="Enter Credit card no" />
                        </div>
                    </div>

                    <div id="divDebitcardno" style="display:none" class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Debit card no</span>
                            <input type="text" class="form-control input-sm" name="Payable.Debit_Card_No" id="txtDebit_card_no" value="@Model.Payable.Debit_Card_No" placeholder="Enter Debit card no" />
                        </div>
                    </div>


                    <div id="divChequedate" style="display:none" class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Cheque date</span>
                            <div class="input-group date" data-date="" data-date-format="MM-dd-yyyy">
                                <input type="text" id="txtCheque_Date" class="form-control datepicker" name="Payable.Cheque_Date" value="@((Model.Payable.Cheque_Date == DateTime.MinValue ? "" : Model.Payable.Cheque_Date.ToString("MM-dd-yyyy")))" readonly />
                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div id="divChequeno" style="display:none" class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Cheque no</span>
                            <input type="text" class="form-control input-sm" name="Payable.Cheque_No" id="txtCheque_no" value="@Model.Payable.Cheque_No" maxlength="20" placeholder="Enter Cheque no" />
                        </div>
                    </div>

                    <div id="divBankName" style="display:none" class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Bank Name</span>
                            <input type="text" class="form-control input-sm" name="Payable.Bank_Name" id="txtBank_Name" value="@Model.Payable.Bank_Name" placeholder="Enter Bank Name" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 100px;">
                <div class="block">
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Final amount</span>
                            <input type="text" class="form-control input-sm" name="Payable.Final_Amount" id="txtFinal_amount" @*onclick="javascript: CalculateDiscount();"*@ value="@(Model.Payable.Balance_Amount == 0 ? "" : Model.Payable.Balance_Amount.ToString())" placeholder="Final amount" readonly />
                            <label style="color: #b64645; display:none;" class="help-block pull-left" id="lblFinalPriceError">Final amount should not 0 or less.</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="label label-primary label-form" style="margin-bottom: 1px;">Remark</span>
                            <input type="text" class="form-control input-sm" name="Payable.Remark" id="txtRemark" value="@Model.Payable.Remark" placeholder="Enter remark" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02);padding-left: 20px; padding-right:0px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 15px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD;">

                <div class="btn-group">
                    <button type="button" class="btn btn-success active" id="btnSavePay">Save</button>

                    <button type="reset" class="btn btn-danger active" id="btnResetPay" onclick="javascript: Cancle();">Reset</button>
                </div>

            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive" style="margin: 50px 0;">
                        <table class="table table-bordered" id="tblPayableItems">
                            <thead>
                                <tr id="subhead">

                                    <th>Payment mode</th>
                                    <th>Paid Amount</th>
                                    <th>Credit Card no</th>
                                    <th>Debit Card no</th>
                                    <th>Cheque No</th>
                                    <th>Cheque Date</th>
                                    <th>Bank Name</th>
                                    <th>Credit note no</th>
                                    <th>Credit note amount</th>
                                    <th>Discount %</th>
                                    <th>Discount amount</th>
                                    @*<th>Action</th>*@
                                </tr>
                            </thead>
                            @if (Model.Payables != null && Model.Payables.Count() > 0)
                            {
                                int i = 1;
                                foreach (var itm in Model.Payables)
                                {
                                    <tr id="tr(@itm.Payable_Item_Id)">
                                        <td>
                                            <span> @itm.Payment_Mode1</span>
                                            <input type="hidden" id="hdnPayment_Mode@(itm.Payable_Item_Id)" name="Payable.Payment_Mode1[@(i - 1)]" value="@itm.Payment_Mode">
                                            <input type="hidden" id="hdnPayable_Item_Id@(itm.Payable_Item_Id)" name="Payable.Payable_Item_Id" value="@itm.Payable_Item_Id">
                                            <input type="hidden" id="hdnPayable_Id@(itm.Payable_Item_Id)" name="Payable.Payable_Id" value="@itm.Payable_Id">
                                            <input type="hidden" id="hdnPurchase_Credit_Note_Id@(itm.Payable_Item_Id)" name="Payable.Purchase_Credit_Note_Id" value="@itm.Purchase_Credit_Note_Id">
                                        </td>
                                        <td>
                                            <span> @itm.Paid_Amount</span>
                                            <input type="hidden" id="hdnPaid_Amount@(itm.Payable_Item_Id)" name="Payable.Paid_Amount[@(i - 1)]" value="@itm.Paid_Amount">
                                        </td>
                                        <td>
                                            <span> @itm.Credit_Card_No</span>
                                            <input type="hidden" id="hdnCredit_Card_No@(itm.Payable_Item_Id)" name="Payable.Credit_Card_No[@(i - 1)]" value="@itm.Credit_Card_No">
                                        </td>
                                        <td>
                                            <span> @itm.Debit_Card_No</span>
                                            <input type="hidden" id="hdnDebit_Card_No@(itm.Payable_Item_Id)" name="Payable.Debit_Card_No[@(i - 1)]" value="@itm.Debit_Card_No">
                                        </td>
                                        <td>
                                            <span> @itm.Cheque_No</span>
                                            <input type="hidden" id="hdnCheque_No@(itm.Payable_Item_Id)" name="Payable.Cheque_No[@(i - 1)]" value="@itm.Cheque_No">
                                        </td>

                                        <td>
                                            @if (itm.Cheque_Date.ToShortDateString() == "01-01-1999")
                                            {
                                                <span> NA </span>
                                            }
                                            else
                                            {
                                                <span> @itm.Cheque_Date.ToShortDateString()</span>
                                            }
                                            <input type="hidden" id="hdnCheque_Date@(itm.Payable_Item_Id)" name="Payable.Cheque_Date[@(i - 1)" value="@itm.Cheque_Date.ToShortDateString()">
                                        </td>

                                        <td>
                                            <span> @itm.Bank_Name</span>
                                            <input type="hidden" id="hdnBank_Name@(itm.Payable_Item_Id)" name="Payable.Bank_Name[@(i - 1)]" value="@itm.Bank_Name">
                                        </td>
                                        <td>
                                            @if (itm.Credit_Note_No == null)
                                            {
                                                <span> NA </span>
                                            }
                                            else
                                            {
                                                <span> @itm.Credit_Note_No</span>
                                            }


                                            <input type="hidden" id="hdnCredit_Note_No@(itm.Payable_Item_Id)" name="Payable.Credit_Note_No[@(i - 1)]" value="@itm.Purchase_Credit_Note_Id">
                                        </td>
                                        <td>
                                            @if (itm.Credit_Note_Amount == 0)
                                            {
                                                <span> NA </span>
                                            }
                                            else
                                            {
                                                <span> @itm.Credit_Note_Amount</span>
                                            }


                                            <input type="hidden" id="hdnCredit_Note_Amount@(itm.Payable_Item_Id)" name="Payable.Credit_Note_Amount[@(i - 1)]" value="@itm.Credit_Note_Amount">
                                        </td>
                                        <td>
                                            @if (itm.Discount_Percentage == 0)
                                            {
                                                <span> NA </span>
                                            }
                                            else
                                            {
                                                <span> @itm.Discount_Percentage</span>
                                            }

                                            <input type="hidden" id="hdnDiscount_Percentage@(itm.Payable_Item_Id)" name="Payable.Discount_Percentage[@(i - 1)]" value="@itm.Discount_Percentage">
                                        </td>
                                        <td>
                                            @if (itm.Discount_Amount == 0)
                                            {
                                                <span> NA </span>
                                            }
                                            else
                                            {
                                                <span> @itm.Discount_Amount</span>
                                            }

                                            <input type="hidden" id="hdnDiscount_Amount@(itm.Payable_Item_Id)" name="Payable.Discount_Amount[@(i - 1)]" value="@itm.Discount_Amount">
                                        </td>

                                        @*<td>

                                                <button type="button" id="edit-payable-details" class="btn btn-box-tool btn-tel-edit" onclick="javascript:EditPayableData(@itm.Payable_Item_Id)"><i class='fa fa-pencil'></i></button>


                                            </td>*@
                                    </tr>
                                            i = i + 1;
                                }
                            }

                        </table>
                    </div>
                </div>
            </div>

        </div>

    </form>

</div>