@model MyLeoRetailer.Models.VendorContactViewModel
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/Modules/VendorContact/vendorcontact_events.js"></script>
<script src="~/Scripts/Modules/VendorContact/vendorcontact_methode.js"></script>
<script src="~/Scripts/Modules/common_methods.js"></script>
<script src="~/Scripts/Modules/VendorContact/vendorcontact_validation.js"></script>

<!-- START BREADCRUMB -->
<ul class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#">Home</a></li>
    <li><a href="#">Masters</a></li>
    <li class="active">VendorContact Management</li>
</ul>
<!-- END BREADCRUMB -->
<!-- START CONTENT FRAME -->
<div class="content-frame">

    <!-- START CONTENT FRAME TOP -->
    <div class="content-frame-top">
        <div class="page-title">
            <h2><span class="fa fa-image"></span>&nbsp;&nbsp; VendorContact Management</h2>
        </div>
    </div>

</div>
<!-- END CONTENT FRAME -->

<div class="page-content-wrap">

    <div class="row">

        <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 475px;">

            <div class="block" style="border-bottom: 1px solid #DDD; padding-bottom:20px;margin-bottom:0px; ">

                <h4 style="margin-top: 0px;">Select vendor.</h4>

                <form role="form">

                    <div class="form-group">
                        <select class="form-control select"  name="VendorContact.Vendor_ID" placeholder="Select Vendor." >
                            <option value="">Select Vendor</option>
                            @foreach (var item in Model.Vendors)
                            {
                                if (Model.VendorContact.Vendor_ID == item.Vendor_ID)
                                {
                                    <option value="@item.Vendor_ID" selected="selected">@item.Vendor_Name</option>
                                }
                                else
                                {
                                    <option value="@item.Vendor_ID">@item.Vendor_Name</option>
                                }
                            }
                        </select>
                    </div>

                </form>
            </div>           

            <div class="block">

                <h4 style="margin-top: 15px;">Primary information.</h4>

                <div class="form-group" style="margin-bottom: 5px; float: right;">
                    <label class="switch">
                        @if (Model.VendorContact.IsActive == 0)
                        {
                            <input value="@Model.VendorContact.IsActive" name="VendorContact.IsActive" type="checkbox" id="Flag">
                        }
                        else
                        {
                            <input value="@Model.VendorContact.IsActive" name="VendorContact.IsActive" checked="checked" type="checkbox" id="Flag">
                        }
                        @*<input checked="" id="Flag" value="0" type="checkbox">*@
                        <span></span>
                    </label>
                </div>  
                <br />
                <br />
                <form role="form" id="frmCVendorContactPrimaryInfo">

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter first name." name="VendorContact.First_Name" value="@Model.VendorContact.First_Name" />
                        <input type="hidden" name="VendorContact.VendorContact_Id" id="hdnVendorContact_Id" value="@Model.VendorContact.VendorContact_Id">
                        <input type="hidden" name="VendorContact.Vendor_Contact_Name" value="@Model.VendorContact.Vendor_Contact_Name">
                        <input type="hidden" name="VendorContact.IsActive" value="@Model.VendorContact.IsActive">

                    </div>

                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Enter last name." name="VendorContact.Last_Name" value="@Model.VendorContact.Last_Name" />

                    </div>

                    @*<div class="form-group" style="margin-bottom: 5px; float: right;">
                <label class="switch">
                    <input checked="" id="Flag" value="0" name="VendorContact.Is_Active" type="checkbox">
                    <span></span>
                </label>
            </div>*@

                </form>
            </div>

        </div>

        <div class="col-md-3" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 475px;">

            <div class="block">
                <h4 style="margin-top: 0px;">Address.</h4>

                <form role="form">

                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Address." name="VendorContact.Address" value="@Model.VendorContact.Address">@Model.VendorContact.Address</textarea>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter city." name="VendorContact.City" value="@Model.VendorContact.City" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter state." name="VendorContact.State" value="@Model.VendorContact.State" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Enter country." name="VendorContact.Country" value="@Model.VendorContact.Country" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" maxlength="6" placeholder="Enter pincode." name="VendorContact.Pincode" value="@Model.VendorContact.Pincode" />
                    </div>

                </form>
            </div>

        </div>

        <div class="col-md-2" style="background: rgba(0, 0, 0, 0.02); border-right: 1px solid #DDD; padding: 10px; height: 475px;">

            <div class="block">
                <h4 style="margin-top: 0px;">Communication detail.</h4>

                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" maxlength="12" placeholder="Enter mobile number 1." name="VendorContact.Mobile1" value="@Model.VendorContact.Mobile1" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" maxlength="12" placeholder="Enter mobile number 2." name="VendorContact.Mobile2" value="@Model.VendorContact.Mobile2" />
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter email address." name="VendorContact.Email_Id" value="@Model.VendorContact.Email_Id" />
                    </div>
                </form>
            </div>

        </div>

        <div class="col-md-12" style="background: rgba(0, 0, 0, 0.02);padding-left: 20px; padding-right:0px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 15px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD;">

            <div class="btn-group">
                <button type="button" class="btn btn-success active" id="btnSaveVendorContact">Save</button>

                <button type="button" class="btn btn-danger active" onclick="location.href='@Url.Action("Index", "VendorContact")'">Cancel</button>
            </div>

        </div>

    </div>

</div>

